<section class="vl-gallery3 sp2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 order-1 order-md-1 order-lg-1">
                <div class="vl-gallery-sm-thumb mb-30 reveal" appGsapReveal>
                    <a class="gallery-popup-link" href="assets/img/gallery/vl-gallery-thum-sm-3.1.png"><img
                            class="w-100" src="assets/img/gallery/vl-gallery-thum-sm-3.1.png" alt=""></a>
                </div>
                <div class="vl-gallery-sm-thumb mb-30 reveal" appGsapReveal>
                    <a class="gallery-popup-link" href="assets/img/gallery/vl-gallery-thum-sm-3.2.png"><img
                            class="w-100" src="assets/img/gallery/vl-gallery-thum-sm-3.2.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 order-lg-2">
                <div class="vl-gallery-content">
                    <div class="vl-section-title3 text-center">
                        <h4 class="subtitle" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">Our
                            Gallery</h4>
                        <h2 class="title text-anime-style-3">Every Drop Counts Our Impact in Pictures</h2>
                        <div class="vl-gallery-large-thumb reveal mb-30" appGsapReveal>
                            <a class="gallery-popup-link" href="assets/img/gallery/vl-gallery-thum-large-3.5.png"> <img
                                    class="w-100" src="assets/img/gallery/vl-gallery-thum-large-3.5.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 order-lg-3">
                <div class="vl-gallery-sm-thumb mb-30 reveal" appGsapReveal>
                    <a class="gallery-popup-link" href="assets/img/gallery/vl-gallery-thum-sm-3.3.png"><img
                            class="w-100" src="assets/img/gallery/vl-gallery-thum-sm-3.3.png" alt=""></a>
                </div>
                <div class="vl-gallery-sm-thumb mb-30 reveal" appGsapReveal>
                    <a class="gallery-popup-link" href="assets/img/gallery/vl-gallery-thum-sm-3.4.png"><img
                            class="w-100" src="assets/img/gallery/vl-gallery-thum-sm-3.4.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>