<section class="vl-gallery sp2">
    <div class="container">
      <div class="vl-gallery-content mb-60">
        <div class="vl-section-title-1">
          <h5 class="subtitle" data-aos="fade-right" data-aos-duration="800" data-aos-delay="300">Our Gallery</h5>
          <h2 class="title text-anime-style-3">The Frontlines of Relief</h2>
          <p  data-aos="fade-right" data-aos-duration="800" data-aos-delay="300">These titles aim to convey emotion and meaning while showcasing <br> the importance of your organization’s work through visuals.</p>
        </div>
        <div class="vl-gallery-btn text-end" data-aos="fade-left" data-aos-duration="900" data-aos-delay="300">
          <div class="btn-area">
            <a routerLink="/event-single" class="header-btn1">Vineyard Venues <span><i class="fa-solid fa-arrow-right"></i></span></a>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- single gallery box -->
        <div class="col-lg-6 col-md-6 mb-30">
          <div class="vl-single-box" data-aos="zoom-in-up" data-aos-duration="800" data-aos-delay="300">
            <img class="w-100" src="assets/img/gallery/vl-gallery-1.1.png" alt="">
              <a href="assets/img/gallery/vl-gallery-1.1.png" data-lightbox="image-1" class="glightbox search-ic">
              <span><img src="assets/img/icons/vl-gallery-search-1.1.svg" alt=""></span>
            </a>
          </div>
        </div>
        <!-- single gallery box -->
        <div class="col-lg-3 col-md-6 mb-30">
          <div class="vl-single-box" data-aos="zoom-in-up" data-aos-duration="900" data-aos-delay="300">
            <img class="w-100" src="assets/img/gallery/vl-gallery-1.2.png" alt="">
            <a href="assets/img/gallery/vl-gallery-1.2.png" data-lightbox="image-1" class="glightbox search-ic">
            <span><img src="assets/img/icons/vl-gallery-search-1.1.svg" alt=""></span>
            </a>
          </div>
        </div>
        <!-- single gallery box -->
        <div class="col-lg-3 col-md-6 mb-30">
          <div class="vl-single-box" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="300">
            <img class="w-100" src="assets/img/gallery/vl-gallery-1.3.png" alt="">
            <a href="assets/img/gallery/vl-gallery-1.3.png" data-lightbox="image-1" class="glightbox search-ic">
            <span><img src="assets/img/icons/vl-gallery-search-1.1.svg" alt=""></span>
            </a>
          </div>
        </div>
        <!-- single gallery box -->
        <div class="col-lg-3 col-md-6 mb-30">
          <div class="vl-single-box" data-aos="zoom-in-up" data-aos-duration="1100" data-aos-delay="300">
            <img class="w-100" src="assets/img/gallery/vl-gallery-1.4.png" alt="">
            <a href="assets/img/gallery/vl-gallery-1.4.png" data-lightbox="image-1" class="glightbox search-ic">
            <span><img src="assets/img/icons/vl-gallery-search-1.1.svg" alt=""></span>
            </a>
          </div>
        </div>
        <!-- single gallery box -->
        <div class="col-lg-3 col-md-6 mb-30">
          <div class="vl-single-box" data-aos="zoom-in-up" data-aos-duration="1200" data-aos-delay="300">
            <img class="w-100" src="assets/img/gallery/vl-gallery-1.5.png" alt="">
            <a href="assets/img/gallery/vl-gallery-1.5.png" data-lightbox="image-1" class="glightbox search-ic">
            <span><img src="assets/img/icons/vl-gallery-search-1.1.svg" alt=""></span>
            </a>
          </div>
        </div>
        <!-- single gallery box -->
        <div class="col-lg-6 col-md-6 mb-30">
          <div class="vl-single-box" data-aos="zoom-in-up" data-aos-duration="1300" data-aos-delay="300">
            <a href="assets/img/gallery/vl-gallery-1.6.png" data-lightbox="image-1"><img class="w-100" src="assets/img/gallery/vl-gallery-1.6.png" alt=""></a>
            <a href="assets/img/gallery/vl-gallery-1.6.png" data-lightbox="image-1" class="glightbox search-ic">
            <span><img src="assets/img/icons/vl-gallery-search-1.1.svg" alt=""></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
