<section id="service" class="vl-service3 sp2">
    <div class="shape"><img src="assets/img/icons/vl-gallerylarge-3.1.svg" alt=""></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="vl-section-title3 mb-60 text-center">
            <h4 class="subtitle" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">Charity Services</h4>
            <h2 class="title text-anime-style-3">Dedicated to a Healthier World Clean Water</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- single service box -->
        <div class="col-lg-4 col-md-6" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="300">
          <div class="vl-service-box-parent mb-30">
            <div class="vl-service-icon">
              <span><img src="assets/img/icons/vl-service-icon-3.1.svg" alt=""></span>
            </div>
            <div class="vl-service-box-3">
              <div class="service-thumb">
                <img class="w-100" src="assets/img/service/vl-service-3.1.png" alt="">
              </div>
              <div class="service-content">
                <a routerLink="/service" class="title">Education Support</a>
                <p class="para">Explore charity website discover impactful projects, opportunities.</p>
                <a routerLink="/service" class="rmore">Read More <span><i class="fa-solid fa-arrow-right"></i></span></a>
              </div>
            </div>
          </div>
        </div>
        <!-- single service box -->
        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1100" data-aos-delay="300">
          <div class="vl-service-box-parent mb-30">
            <div class="vl-service-icon">
              <span><img src="assets/img/icons/vl-service-icon-3.2.svg" alt=""></span>
            </div>
            <div class="vl-service-box-3">
              <div class="service-thumb">
                <img class="w-100" src="assets/img/service/vl-service-3.2.png" alt="">
              </div>
              <div class="service-content">
                <a routerLink="/service" class="title">Healthy Foods</a>
                <p class="para">Share stories & experiences from current volunteers inspire others.</p>
                <a routerLink="/service" class="rmore">Read More <span><i class="fa-solid fa-arrow-right"></i></span></a>
              </div>
            </div>
          </div>
        </div>
        <!-- single service box -->
        <div class="col-lg-4 col-md-6" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300">
          <div class="vl-service-box-parent mb-30">
            <div class="vl-service-icon">
              <span><img src="assets/img/icons/vl-service-icon-3.3.svg" alt=""></span>
            </div>
            <div class="vl-service-box-3">
              <div class="service-thumb">
                <img class="w-100" src="assets/img/service/vl-service-3.3.png" alt="">
              </div>
              <div class="service-content">
                <a routerLink="/service" class="title">Medical Help</a>
                <p class="para">Join us in making difference! Our charity website connect volunteer.</p>
                <a routerLink="/service" class="rmore">Read More <span><i class="fa-solid fa-arrow-right"></i></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>