<section class="vl-team-bg-1 sp1">
  <div class="container">
    <div class="vl-team-section-title mb-60 text-center">
      <div class="vl-section-title-1">
        <h5 class="subtitle" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">Meet our Volunteer</h5>
        <h2 class="title text-anime-style-3">We Have a Volunteer Team</h2>
        <p data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">Provide tips, articles, or expert advice on
          maintaining a healthy work- <br>life balance, managing, Workshops or seminars organizational.</p>
      </div>
    </div>
    <div class="row">
      <owl-carousel-o id="team1" [options]="teamArea">
        <!-- single team item -->
        <ng-template carouselSlide>
          <div class="vl-team-parent">
            <div class="vl-team-thumb">
              <img class="w-100" src="assets/img/team/vl-team-1.1.png" alt="">
            </div>
            <div class="vl-team-social">
              <ul>
                <li><a href="javascript:void(0);"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="javascript:void(0);"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="javascript:void(0);"><i class="fa-brands fa-github"></i></a></li>
              </ul>
            </div>
            <div class="vl-team-content text-center">
              <a routerLink="/volunteers" class="title">Anita Gusikowski</a>
              <span>General Manager</span>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <!-- single team item -->
          <div class="vl-team-parent">
            <div class="vl-team-thumb">
              <img class="w-100" src="assets/img/team/vl-team-1.2.png" alt="">
            </div>
            <div class="vl-team-social">
              <ul>
                <li><a href="javascript:void(0);"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="javascript:void(0);"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="javascript:void(0);"><i class="fa-brands fa-github"></i></a></li>
              </ul>
            </div>
            <div class="vl-team-content text-center">
              <a routerLink="/volunteers" class="title">Larry Bartoletti</a>
              <span>Manager Head</span>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <!-- single team item -->
          <div class="vl-team-parent">
            <div class="vl-team-thumb">
              <img class="w-100" src="assets/img/team/vl-team-1.3.png" alt="">
            </div>
            <div class="vl-team-social">
              <ul>
                <li><a href="javascript:void(0);"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="javascript:void(0);"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="javascript:void(0);"><i class="fa-brands fa-github"></i></a></li>
              </ul>
            </div>
            <div class="vl-team-content text-center">
              <a routerLink="/volunteers" class="title">Samuel Corwin</a>
              <span>Senior Manager</span>
            </div>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <!-- single team item -->
          <div class="vl-team-parent">
            <div class="vl-team-thumb">
              <img class="w-100" src="assets/img/team/vl-team-1.4.png" alt="">
            </div>
            <div class="vl-team-social">
              <ul>
                <li><a href="javascript:void(0);"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="javascript:void(0);"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="javascript:void(0);"><i class="fa-brands fa-github"></i></a></li>
              </ul>
            </div>
            <div class="vl-team-content text-center">
              <a routerLink="/volunteers" class="title">Hilda Wunsch</a>
              <span>Volunteer</span>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <!-- single team item -->
          <div class="vl-team-parent">
            <div class="vl-team-thumb">
              <img class="w-100" src="assets/img/team/vl-team-1.1.png" alt="">
            </div>
            <div class="vl-team-social">
              <ul>
                <li><a href="javascript:void(0);"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="javascript:void(0);"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="javascript:void(0);"><i class="fa-brands fa-github"></i></a></li>
              </ul>
            </div>
            <div class="vl-team-content text-center">
              <a routerLink="/volunteers" class="title">Anita Gusikowski</a>
              <span>General Manager</span>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
  
    </div>
  </div>
</section>