<section class="vl-causes-area-2 sp2">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 mx-auto">
          <div class="vl-section-title-3 mb-60 text-center">
            <h4 class="subtitle" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">Safe & Easy Donations</h4>
            <h2 class="title text-anime-style-3">Our Latest Causes</h2>
            <p data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">Long-term recovery requires sustainable livelihoods.<br> We support individuals & families in rebuilding.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- single cause box -->
        <div class="col-lg-4 col-md-6">
          <div class="vl-single-cause-box vl-single-cause-box-2 mb-30" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="300">
            <div class="vl-cause-thumb vl-cause-thumb-2">
              <img class="w-100" src="assets/img/cause/vl-cluse-2.1.png" alt="">
              <div class="vl-about-btn">
                <a href="cause-single" class="btn-primary2">Donate <span><i class="fa-solid fa-arrow-right"></i></span></a>
             </div>
            </div>
            <div class="vl-progress">
              <div class="skill-progress">
                <div class="skill-box">
                    <div class="skill-bar">
                        <span class="skill-per skill-per-2 html">
                            <span class="tooltipp tooltipp-2">16%</span>
                        </span>
                      </div>
                    <div class="skill-vlue">
                      <div class="num1 num1-2"><span>Raised: </span>$13,000</div>
                      <div class="num1 num1-2"><span>Goal: </span>$85,000</div>
                    </div>
                </div>
              </div>
            </div>
            <div class="vl-cause-content">
              <a href="javascript:void(0);" class="badge badge-2">Disasters</a>
              <h3 class="title"><a href="cause-single">Abandoned Dog's In Cage</a></h3>
              <p>Access healthcare becomes a lifeline <br> in times of crisis. We offer medical support, mobile clinics, & mental.</p>
            </div>
          </div>
        </div>
  
        <!-- single cause box -->
        <div class="col-lg-4 col-md-6">
          <div class="vl-single-cause-box vl-single-cause-box-2 mb-30" data-aos="fade-up" data-aos-duration="1100" data-aos-delay="300">
            <div class="vl-cause-thumb vl-cause-thumb-2">
              <img class="w-100" src="assets/img/cause/vl-cluse-2.2.png" alt="">
              <div class="vl-about-btn">
                <a routerLink="/cause-single" class="btn-primary2">Donate <span><i class="fa-solid fa-arrow-right"></i></span></a>
             </div>
            </div>
            <div class="vl-progress">
              <div class="skill-progress">
                <div class="skill-box">
                    <div class="skill-bar">
                        <span class="skill-per skill-per-2 html">
                            <span class="tooltipp tooltipp-2">28%</span>
                        </span>
                      </div>
                    <div class="skill-vlue">
                      <div class="num1 num1-2"><span>Raised: </span>$26,000</div>
                      <div class="num1 num1-2"><span>Goal: </span>$90,000</div>
                    </div>
                </div>
              </div>
            </div>
            
            <div class="vl-cause-content">
              <a href="javascript:void(0);" class="badge badge-2">Disasters</a>
              <h3 class="title"><a routerLink="/cause-single">Homeless Street Cat</a></h3>
              <p>In the aftermath of a disaster access to nutritious food is often disrupted. We work provide emergency meals.</p>
            </div>
          </div>
        </div>
  
        <!-- single cause box -->
        <div class="col-lg-4 col-md-6">
          <div class="vl-single-cause-box vl-single-cause-box-2 mb-30" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300">
            <div class="vl-cause-thumb vl-cause-thumb-2">
              <img class="w-100" src="assets/img/cause/vl-cluse-2.3.png" alt="">
              <div class="vl-about-btn">
                <a routerLink="/cause-single" class="btn-primary2">Donate <span><i class="fa-solid fa-arrow-right"></i></span></a>
             </div>
            </div>
            <div class="vl-progress">
              <div class="skill-progress">
                <div class="skill-box">
                    <div class="skill-bar">
                        <span class="skill-per skill-per-2 html">
                            <span class="tooltipp tooltipp-2">24%</span>
                        </span>
                      </div>
                    <div class="skill-vlue">
                      <div class="num1 num1-2"><span>Raised: </span>$13,701</div>
                      <div class="num1 num1-2"><span>Goal: </span>$60,000</div>
                    </div>
                </div>
              </div>
            </div>
            
            <div class="vl-cause-content">
              
              <a href="javascript:void(0);" class="badge badge-2">Disasters</a>
              <h3 class="title"><a routerLink="/cause-single">Animal Shelter Homes</a></h3>
              <p>Rebuilding home & shelter essential for recovery. We help restore safe living conditions by offering.</p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>