<div class="vl-blog-2 sp2">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <div class="vl-section-title-3 mb-60 text-center" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
            <h4 class="subtitle">Our Blog & News</h4>
            <h2 class="title">From Abandonment to Adoption</h2>
            <p>Every rescue story is a testament to the power of compassion and resilience. At <br>  organization, we’ve witnessed countless animals transform from frightened.</p>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <!-- single blog box -->
          <div class="vl-single-blog-box2 mb-30" data-aos="zoom-in-up" data-aos-duration="1200" data-aos-delay="300">
            <div class="thumb p-relative">
              <div class="top-img">
                <img src="assets/img/shape/vl-blog-top-shape.png" alt="">
              </div>
              <a routerLink="/blog-single"><img class="w-100" src="assets/img/blog/vl-blog-2.1.png" alt=""></a>
            </div>
            <div class="blog-content-box">
              <div class="meta-flex">
                <!-- icon box -->
                <div class="meta">
                  <div class="meta-icon">
                    <span><img src="assets/img/icons/vl-meta-icon-2.1.svg" alt=""></span>
                  </div>
                  <a href="javascript:void(0);" class="meta-text">16 October 2025</a>
                </div>
  
                <!-- icon box -->
                <div class="meta">
                  <div class="meta-icon">
                    <span><img src="assets/img/icons/vl-meta-icon-2.2.svg" alt=""></span>
                  </div>
                  <a href="javascript:void(0);" class="meta-text">Dawid Malan</a>
                </div>
              </div>
              <a routerLink="/blog-single" class="title">Get Involved: Make a Difference for Animals</a>
              <p class="para">Whether through adoption, fostering, volunteering, or donating, your involvement helps transform lives.</p>
              <a routerLink="/blog-single" class="learn-more">Learn More <span><i class="fa-solid fa-arrow-right"></i></span></a>
            </div>
          </div>
        </div>
  
        <div class="col-lg-6 col-md-6">
          <!-- single blog box -->
          <div class="vl-single-blog-box2 mb-30" data-aos="zoom-in-up" data-aos-duration="1200" data-aos-delay="300">
            <div class="thumb p-relative">
              <div class="top-img">
                <img src="assets/img/shape/vl-blog-top-shape.png" alt="">
              </div>
              <a href="javascript:void(0);"><img class="w-100" src="assets/img/blog/vl-blog-2.2.png" alt=""></a>
            </div>
            <div class="blog-content-box">
              <div class="meta-flex">
                <!-- icon box -->
                <div class="meta">
                  <div class="meta-icon">
                    <span><img src="assets/img/icons/vl-meta-icon-2.1.svg" alt=""></span>
                  </div>
                  <a href="javascript:void(0);" class="meta-text">16 October 2025</a>
                </div>
  
                <!-- icon box -->
                <div class="meta">
                  <div class="meta-icon">
                    <span><img src="assets/img/icons/vl-meta-icon-2.2.svg" alt=""></span>
                  </div>
                  <a href="javascript:void(0);" class="meta-text">Dawid Malan</a>
                </div>
              </div>
              <a routerLink="/blog-single" class="title">Meet Our Heroes: Volunteers and Supporters</a>
              <p class="para">Our dedicated volunteers & supporters the backbone of on work Meet the compassionate individuals who make.</p>
              <a routerLink="/blog-single" class="learn-more">Learn More <span><i class="fa-solid fa-arrow-right"></i></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>