<div class="vl-banner-3-bg mt-24" style="background-image: url(./assets/img/banner/banner3.png);">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 gx-0">
          <div class="vl-section-heading3">
            <div class="banner3">
              <h4 class="subtitle" data-aos="zoom-in-up" data-aos-duration="1200" data-aos-delay="300"> <span><img
                    src="assets/img/icons/vl-heart-3.1.svg" alt=""></span> Recognizing Our Disaster Relief Heroes</h4>
              <h1 class="heading-title text-anime-style-3">Heroes Fighting <br> For Clean Water</h1>
              <p class="para">Access to clean water is fundamental to life, health, hope. <br> Our Water Aid Heroes are
                on the frontlines, working.</p>
            </div>
            <div class="vl-btn3">
              <a routerLink="/contact" class="primary-btn-3">Join The Relief Effort</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>