<section class="vl-about-mission-bg sp2">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="mision-thumb mb-30">
                <img class="w-100" src="assets/img/about/vl-about-mission-thumb.png" alt="">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mission-content ml-20 mb-30">
                <h2 class="title pb-20">Our Mission</h2>
                <p class="para pb-16">We are dedicated to addressing urgent needs such as clean water, education, healthcare, and food security, ensuring that every person has the foundation.</p>
                <p class="para">Through targeted programs, sustainable initiatives, & the collective power of compassionate supporters, we strive to make a real and lasting impact. </p>
  
                <!-- icon list -->
                <div class="icon-list-box pt-20">
                  <ul>
                    <li><span><i class="fa-solid fa-check"></i></span>Client-Focused Solutions and Results</li>
                    <li><span><i class="fa-solid fa-check"></i></span>Flexible, Value Driven Approach</li>
                    <li><span><i class="fa-solid fa-check"></i></span>Warning of updated legal risks for customers</li>
                    <li><span><i class="fa-solid fa-check"></i></span>A team of experienced and highly specialized</li>
                  </ul>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>