<section class="vl-faq5 sp2">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 mx-auto">
          <div class="vl-section-title5 text-center mb-60">
            <h5 class="subtitle" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">FAQ Question</h5>
            <h2 class="title text-anime-style-3">Frequently Asked Question</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <div class="vl-accordion3">
            <div class="accordion" ngbAccordion [closeOthers]="true"  id="accordionExample">
              <!-- single accordion start-->
              <div class="accordion-item" ngbAccordionItem [collapsed]="false">
                <h2 class="accordion-header" id="headingOne" ngbAccordionHeader>
                  <button class="accordion-button" type="button" ngbAccordionButton data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Why is access to clean water so important?   <span><img src="assets/img/icons/vl-faq-up-arrow-5.1.svg" alt=""></span>
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" ngbAccordionCollapse aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body" ngbAccordionBody>
                    <p>Access to clean water is essential for health, education, and economic stability. Without safe <br> water, communities are at a high risk for waterborne diseases, which can severely impact.</p>
                  </div>
                </div>
              </div> <!-- single accordion end-->
  
               <!-- single accordion start-->
              <div class="accordion-item" ngbAccordionItem>
                <h2 class="accordion-header" id="headingTwo" ngbAccordionHeader>
                  <button class="accordion-button " type="button" ngbAccordionButton data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    How are donations used in water aid projects?  <span><img src="assets/img/icons/vl-faq-up-arrow-5.1.svg" alt=""></span>
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" ngbAccordionCollapse aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body" ngbAccordionBody>
                    <p>Access to clean water is essential for health, education, and economic stability. Without safe <br> water, communities are at a high risk for waterborne diseases, which can severely impact.</p>
                  </div>
                </div>
  
              </div> <!-- single accordion end-->
  
               <!-- single accordion start-->
              <div class="accordion-item" ngbAccordionItem>
                <h2 class="accordion-header" id="headingThree" ngbAccordionHeader>
                  <button class="accordion-button " type="button" ngbAccordionButton data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    How can I help beyond making a donation?  <span><img src="assets/img/icons/vl-faq-up-arrow-5.1.svg" alt=""></span>
                  </button>
                </h2>
                <div id="collapseThree" ngbAccordionCollapse class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body" ngbAccordionBody>
                    <p>Access to clean water is essential for health, education, and economic stability. Without safe <br> water, communities are at a high risk for waterborne diseases, which can severely impact.</p>
                  </div>
                </div>
              </div>  <!-- single accordion end-->
  
              <!-- single accordion start-->
              <div class="accordion-item" ngbAccordionItem>
                <h2 class="accordion-header" id="heading4" ngbAccordionHeader>
                  <button class="accordion-button " type="button" ngbAccordionButton data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                    Can I volunteer or participate remotely?  <span><img src="assets/img/icons/vl-faq-up-arrow-5.1.svg" alt=""></span>
                  </button>
                </h2>
                <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" ngbAccordionCollapse data-bs-parent="#accordionExample">
                  <div class="accordion-body" ngbAccordionBody>
                    <p>Access to clean water is essential for health, education, and economic stability. Without safe <br> water, communities are at a high risk for waterborne diseases, which can severely impact.</p>
                  </div>
                </div>
              </div>  <!-- single accordion end-->
               
              <!-- single accordion start-->
              <div class="accordion-item" ngbAccordionItem>
                <h2 class="accordion-header" id="heading5" ngbAccordionHeader>
                  <button class="accordion-button " type="button" ngbAccordionButton data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                    Can I take to support human rights from home?  <span><img src="assets/img/icons/vl-faq-up-arrow-5.1.svg" alt=""></span>
                  </button>
                </h2>
                <div id="collapse5" class="accordion-collapse collapse" ngbAccordionCollapse aria-labelledby="heading5" data-bs-parent="#accordionExample">
                  <div class="accordion-body"  ngbAccordionBody>
                    <p>Access to clean water is essential for health, education, and economic stability. Without safe <br> water, communities are at a high risk for waterborne diseases, which can severely impact.</p>
                  </div>
                </div>
              </div>  <!-- single accordion end-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>