<div class="testimonial3-section-area sp1 sp"
    style="background-image: url(./assets/img/testimonial/testimonial-thumb-bg-3.3.png);">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 m-auto text-center">
          <div class="heading2-w mb-60">
            <span class="span1 mb-16 inline-block text-18 leading-18 white font-normal mb-16" data-aos="fade-left"
              data-aos-duration="700">Testimonial</span>
            <h2 class="testimonial-heading3 text-anime-style-3">Gratitude in Every Drop Water Aid Stories</h2>
          </div>
        </div>
      </div>

      <div class="row mt-60 sm:mt-30">
        <div class="col-lg-8 m-auto">
          <div class="testimonial-sliders text-center"  data-aos="zoom-out" data-aos-duration="1000">
            <ngx-slick-carousel class="testimonial-nav" [config]="sliderForConfig">
              <div ngxSlickItem class="single-testimonial-nav">
                <img src="assets/img/testimonial/vl-testimonial-thumb-3.1.png" alt="">
              </div>
              <div ngxSlickItem class="single-testimonial-nav">
                <img src="assets/img/testimonial/vl-testimonial-thumb-3.2.png" alt="">
              </div>
              <div ngxSlickItem class="single-testimonial-nav">
                <img src="assets/img/testimonial/vl-testimonial-thumb-3.3.png" alt="">
              </div>
              <div ngxSlickItem class="single-testimonial-nav">
                <img src="assets/img/testimonial/vl-testimonial-thumb-3.4.png" alt="">
              </div>
              <div ngxSlickItem class="single-testimonial-nav">
                <img src="assets/img/testimonial/vl-testimonial-thumb-3.5.png" alt="">
              </div>
              <div ngxSlickItem class="single-testimonial-nav">
                <img src="assets/img/testimonial/vl-testimonial-thumb-3.4.png" alt="">
              </div>

            </ngx-slick-carousel>

            <ngx-slick-carousel [config]="sliderNavConfig" class="slider-testimonial">
              <div ngxSlickItem class="single-testimonial">
                <h5 class="para">“Access to clean water has changed everything for our <br> community. Before, we walked
                  miles each day just to find <br> water that wasn’t always safe, putting our health and time <br> at
                  risk. But now, thanks to this life-changing project.”</h5>
                <div class="author-area">
                  <div class="heading pl-20">
                    <a routerLink="/volunteers" class="title">Leslie Alexander</a>
                    <p class="desc">Volunteers</p>
                  </div>
                </div>
              </div>

              <div ngxSlickItem class="single-testimonial">
                <h5 class="para">“Access to clean water has changed everything for our <br> community. Before, we walked
                  miles each day just to find <br> water that wasn’t always safe, putting our health and time <br> at
                  risk. But now, thanks to this life-changing project.”</h5>

                <div class="author-area">
                  <div class="heading pl-20">
                    <a routerLink="/volunteers" class="title">Leslie Alexander</a>
                    <p class="desc">Volunteers</p>
                  </div>
                </div>
              </div>

              <div ngxSlickItem class="single-testimonial">
                <h5 class="para">“Access to clean water has changed everything for our <br> community. Before, we walked
                  miles each day just to find <br> water that wasn’t always safe, putting our health and time <br> at
                  risk. But now, thanks to this life-changing project.”</h5>

                <div class="author-area">
                  <div class="heading pl-20">
                    <a routerLink="/volunteers" class="title">Leslie Alexander</a>
                    <p class="desc">Volunteers</p>
                  </div>
                </div>
              </div>

              <div ngxSlickItem class="single-testimonial">
                <h5 class="para">“Access to clean water has changed everything for our <br> community. Before, we walked
                  miles each day just to find <br> water that wasn’t always safe, putting our health and time <br> at
                  risk. But now, thanks to this life-changing project.”</h5>
                <div class="author-area">
                  <div class="heading pl-20">
                    <a routerLink="/volunteers" class="title">Leslie Alexander</a>
                    <p class="desc">Volunteers</p>
                  </div>
                </div>
              </div>
              <div ngxSlickItem class="single-testimonial">
                <h5 class="para">“Access to clean water has changed everything for our <br> community. Before, we walked
                  miles each day just to find <br> water that wasn’t always safe, putting our health and time <br> at
                  risk. But now, thanks to this life-changing project.”</h5>

                <div class="author-area">
                  <div class="heading pl-20">
                    <a routerLink="/volunteers" class="title">Leslie Alexander</a>
                    <p class="desc">Volunteers</p>
                  </div>
                </div>
              </div>
              <div class="single-testimonial">
                <h5 class="para">“Access to clean water has changed everything for our <br> community. Before, we walked
                  miles each day just to find <br> water that wasn’t always safe, putting our health and time <br> at
                  risk. But now, thanks to this life-changing project.”</h5>
                <div class="author-area">
                  <div class="heading pl-20">
                    <a routerLink="/volunteers" class="title">Leslie Alexander</a>
                    <p class="desc">Volunteers</p>
                  </div>
                </div>
              </div>
            </ngx-slick-carousel>
            <div class="testimonial-arrows">
              <div class="testimonial-prev-arrow">
                <button><img src="assets/img/icons/vl-arrowright.svg" alt=""></button>
              </div>
              <div class="testimonial-next-arrow">
                <button><img src="assets/img/icons/vl-arrowleft.svg" alt=""></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>