<section class="vl-blog3 sp2">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 mx-auto">
          <div class="vl-section-title3 mb-60 text-center">
            <h4 class="subtitle" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">Our Blog & News</h4>
            <h2 class="title text-anime-style-3">Stories of Hope: Communities Thriving with Clean Water</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5 gx-0">
          <!-- single blog start -->
          <div class="vl-single-blog-item mr-15 mb-30">
            <div class="vl-blog-thumb reveal" appGsapReveal>
              <img class="w-100" src="assets/img/blog/vl-blog-3.1.png" alt="">
            </div>
            <div class="vl-blog-content">
              <div class="vl-meta-flex">
                <!-- single metabox start -->
                <div class="vl-blog-meta-flex">
                  <div class="icon">
                    <span><img src="assets/img/icons/vl-meta-ic-3.1.svg" alt=""></span>
                  </div>
                  <div class="text">
                    <a href="javascript:void(0);" class="title">16 October 2025</a>
                  </div>
                </div><!-- single metabox end -->

                <!-- single metabox start -->
                <div class="vl-blog-meta-flex">
                  <div class="icon">
                    <span><img src="assets/img/icons/vl-meta-ic-3.2.svg" alt=""></span>
                  </div>
                  <div class="text">
                    <a href="javascript:void(0);" class="title">Dawid Malan</a>
                  </div>
                </div><!-- single metabox end -->
              </div>
              <div class="vl-content">
                <a routerLink="/blog-single" class="title">Innovative Solutions for Water Scarcity</a>
                <p class="para">Learn about the latest technologies strategies <br> and partnerships that are helping us
                  address.</p>
                <a routerLink="/blog-single" class="readmore">Read More <span><i
                      class="fa-solid fa-arrow-right"></i></span></a>
              </div>
            </div>
          </div> <!-- single blog end -->
        </div>

        <div class="col-lg-7 gx-0">
          <!-- single blog start -->
          <div class="vl-single-blog-item ml-15 mb-30">
            <div class="vl-blog-thumb reveal" appGsapReveal>
              <img class="w-100" src="assets/img/blog/vl-blog-3.2.png" alt="">
            </div>
            <div class="vl-blog-content">
              <div class="vl-meta-flex">
                <!-- single metabox start -->
                <div class="vl-blog-meta-flex">
                  <div class="icon">
                    <span><img src="assets/img/icons/vl-meta-ic-3.1.svg" alt=""></span>
                  </div>
                  <div class="text">
                    <a href="javascript:void(0);" class="title">16 October 2025</a>
                  </div>
                </div><!-- single metabox start -->

                <!-- single metabox start -->
                <div class="vl-blog-meta-flex">
                  <div class="icon">
                    <span><img src="assets/img/icons/vl-meta-ic-3.2.svg" alt=""></span>
                  </div>
                  <div class="text">
                    <a href="javascript:void(0);" class="title">Dawid Malan</a>
                  </div>
                </div><!-- single metabox start -->
              </div>
              <div class="vl-content">
                <a routerLink="/blog-single" class="title">Clean Water, Healthy Futures: The Impact of Safe Water</a>
                <p class="para">Discover the far-reaching benefits of clean water, from improving <br> health and
                  education to creating new economic opportunities.</p>
                <a routerLink="/blog-single" class="readmore">Read More <span><i
                      class="fa-solid fa-arrow-right"></i></span></a>
              </div>
            </div>
          </div> <!-- single blog end -->
        </div>
      </div>
    </div>
  </section>