<section class="vl-banner2 p-relative" style="background-image: url(./assets/img/banner/vl-home-bg-2.1.png);">

    <div class="vl-banner-shape-2 shape-1"><img src="assets/img/shape/vl-home2-1.1.png" alt=""></div>
    <div class="vl-banner-shape-2 shape-2"><img src="assets/img/shape/vl-home2-1.1.png" alt=""></div>
    <div class="vl-banner-shape-2 shape-3"><img src="assets/img/shape/vl-home2-1.2.png" alt=""></div>
    <div class="vl-banner-shape-2 shape-4"><img src="assets/img/shape/vl-home2-1.2.png" alt=""></div>
    <div class="vl-banner-shape-2 shape-5 d-none d-lg-block"><img src="assets/img/shape/vl-dog-shape-1.1.png" alt="">
    </div>
    <div class="vl-banner-shape-2 shape-6"><img src="assets/img/shape/vl-banner-shape2.1.png" alt=""></div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="vl-section-title-2 mb-30">
                    <h4 class="subtitle" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="300"> <span><img
                                src="assets/img/icons/vl-hand-2.svg" alt=""></span> A Mission for Animal Welfare</h4>
                    <h1 class="title text-anime-style-3">Hope and Healing for Every Animal</h1>
                    <div class="home-btn-2" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="300">
                        <a routerLink="/contact" class="btn-2">Join The Relief Effort <span><i
                                    class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="vl-banner2-content" data-aos="fade-left" data-aos-duration="900" data-aos-delay="300">
                    <p>Our Animal Rescue Heroes work tirelessly to give vulnerable animals the second chance they
                        deserve <br> From rescuing stray & abused animals to providing.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="vl-mission p-relative">
    <div class="thumb-shape d-none d-lg-block">
        <img src="assets/img/shape/vl-banner-thumbshape-2.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="vl-mission-content">
                    <h3 class="title" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="300">Our Mission
                    </h3>
                    <p>Our mission is to rescue, protect, and care for animals in need, providing with safe.</p>
                    <div class="vl-mission-content-checkbox">
                        <ul>
                            <li><span><i class="fa-solid fa-check"></i></span>Second Chance Animal Mission</li>
                            <li><span><i class="fa-solid fa-check"></i></span>Safe Haven for Animals</li>
                            <li><span><i class="fa-solid fa-check"></i></span>Guardians of Compassion</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="vl-mission-img p-relative">
                    <div class="top-shape d-none d-lg-block"><img src="assets/img/shape/vl-top-shape2.1.png" alt="">
                    </div>
                    <div class="img1 reveal" appGsapReveal>
                        <img class="thumb1 w-100" src="assets/img/about/vl-mission-thumb-2.1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>