<div class="vl-about2 p-relative sp2">
    <!-- shape -->
    <div class="vl-ab-shap shap-1"><img src="assets/img/icons/vl-about-arow-shap-2.1.svg" alt=""></div>
    <div class="vl-ab-shap shap-2"><img src="assets/img/shape/vl-dog-shap-1.1.png" alt=""></div>
    <div class="vl-ab-shap shap-3"><img src="assets/img/shape/vl-cat-shap-1.2.png" alt=""></div>
    <div class="vl-ab-shap shap-4"><img src="assets/img/icons/vl-about-2.1.svg" alt=""></div>
    <div class="vl-ab-shap shap-5"><img src="assets/img/icons/vl-about-2.2.svg" alt=""></div>
    <div class="vl-ab-shap shap-6"><img src="assets/img/icons/vl-about-2.2.svg" alt=""></div>
    <div class="vl-ab-shap shap-7"><img src="assets/img/icons/vl-about-2.2.svg" alt=""></div>
    <div class="vl-ab-shap shap-8"><img src="assets/img/icons/vl-about-2.2.svg" alt=""></div>


    <div class="container">
        <div class="row">
            <div class="p-relative">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="vl-about-thumb mb-30">
                            <div class="bottom-shape" >
                                <img src="assets/img/shape/vl-meet-shape1.png" alt="">
                            </div>

                            <span class="long-width img1 reveal" appGsapReveal>
                                
                                <img 
                                    src="assets/img/about/vl-about-latg-thumb-2.2.png" alt=""></span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="vl-about-content-box mb-30">
                            <div class="vl-section-title-3">
                                <h4 class="subtitle" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300">
                                    About Us</h4>
                                <h2 class="title text-anime-style-3">Meet the Team Advocate for Animal Welfare</h2>
                                <p class="pb-32" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300">At
                                    the heart of our organization is deep commitment protecting, rescuing, and caring
                                    for animals in need believe every animal.</p>
                            </div>
                            <!-- icon list -->
                            <div class="vl-mission-content-checkbox">
                                <ul>
                                    <li><span><i class="fa-solid fa-check"></i></span>Protecting Animals, Inspiring
                                        Change</li>
                                    <li><span><i class="fa-solid fa-check"></i></span> A Safe Haven for Every Animal
                                    </li>
                                </ul>
                            </div>
                            <!-- btn -->
                            <div class="vl-about-btn">
                                <a routerLink="/about" class="btn-primary2">Save a Life <span><i
                                            class="fa-solid fa-arrow-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>