<section class="vl-contact2 sp2">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 mx-auto">
          <div class="vl-section-title-3 mb-60 text-center">
            <h4 class="subtitle" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">Let's Help Us</h4>
            <h2 class="title text-anime-style-3">Our Fundraising For Animal Welfare</h2>
            <p data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">We’re here to connect, support, and answer any questions you may have about our rescue <br> work, adoption process, or ways to get involved. Whether you’re interested in adopting.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <div class="vl-contact-box mb-30" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="300">
            <div class="topcontent">
              <h4 class="title">Contact Info</h4>
              <p>We’d love to hear from you! Whether you have questions about projects, want to get involved, or simply want learn more about the impact.</p>
            </div>
            <!-- single icon box -->
            <div class="box-hover">
              <div class="icon-list-flex">
                <div class="icon">
                  <span><img src="assets/img/icons/vl-ic-2.1.svg" alt=""></span>
                </div>
                <div class="content">
                  <h4 class="title">Our Location</h4>
                  <p class="para1">8708 Technology Forest Pl Suite 125 -G, The Woodlands, TX 773</p>
                </div>
              </div>
            </div>
            <!-- single icon box -->
            <div class="box-hover">
              <div class="icon-list-flex">
                <div class="icon">
                  <span><img src="assets/img/icons/vl-ic-2.2.svg" alt=""></span>
                </div>
                <div class="content">
                  <h4 class="title">Phone Number</h4>
                  <a href="tel:123-456-7890" class="para1">123-456-7890 </a> <br>
                  <a href="tel:098-765-4321" class="para1">098-765-4321 </a>
                </div>
              </div>
            </div>
            <!-- single icon box -->
            <div class="box-hover">
              <div class="icon-list-flex">
                <div class="icon">
                  <span><img src="assets/img/icons/vl-ic-2.3.svg" alt=""></span>
                </div>
                <div class="content">
                  <h4 class="title">Email Address</h4>
                  <a href="mailto:info&#64;charity.com" class="para1">info&#64;charity.com</a> <br>
                  <a href="mailto:Infocharity&#64;gmail.com" class="para1">Infocharity&#64;gmail.com</a>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <div class="col-lg-7">
          <div class="vl-contact-box2 mb-30" data-aos="fade-left" data-aos-duration="1100" data-aos-delay="300">
              <h4 class="title">Get In Touch</h4>
              <p class="para1">By reaching out, you’re taking first step toward making a difference <br> and joining a community committed to bringing safe, sustainable.</p>
              <form action="#">
                <div class="vl-form2">
                  <div class="row">
                    <div class="col-lg-6">
                      <input type="text" placeholder="First Name">
                    </div>
                    <div class="col-lg-6">
                      <input type="text" placeholder="Last Name">
                    </div>
                    <div class="col-lg-6">
                      <input type="email" placeholder="Email Address">
                    </div>
                    <div class="col-lg-6">
                      <input type="number" placeholder="Ammount:$">
                    </div>
  
                    <div class="col-md-12 mb-20">
                      <select class="nice-select wide vl-select">
                        <option data-display="Donation To">Nothing</option>
                        <option value="1">Health and Medical Support</option>
                        <option value="2">Education and Training</option>
                        <option value="3">Relief and Aid Services</option>
                        <option value="4">Community Development</option>
                        <option value="5">Environmental Conservation</option>
                      </select>
                  </div>
                    
                    <div class="col-lg-12">
                      <textarea name="message" id="message" placeholder="Your Message"></textarea>
                    </div>
                    <div class="vl-about-btn">
                      <button class="btn-primary2">Send Now <span><i class="fa-solid fa-arrow-right"></i></span></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  </section>