<!-- sidebar area start -->
<div class="vl-sidebar-area sp2">
  <div class="container">
    <div class="col-lg-8 mx-auto">
      <div class="vl-event-content-area ml-50">
        <div class="vl-large-thumb">
          <img
            class="w-100"
            ngSrc="assets/img/blog/vl-blog-large-thumb-1.1.png"
            width="800"
            height="500"
            alt="Blog"
          />
        </div>

        <div class="vl-blog-meta-box mt-32">
          <ul>
            <li>
              <a href="javascript:void(0);">
                <span
                  ><img
                    ngSrc="assets/img/blog/vl-blog-auth-thumb-1.1.png"
                    width="24"
                    height="24"
                    alt="Author" /></span
                >Adil Rashid</a
              >
            </li>
            <li>
              <a href="javascript:void(0);">
                <span class="icon"
                  ><img
                    class="mt-4-"
                    ngSrc="assets/img/icons/vl-calender-1.1.svg"
                    width="16"
                    height="16"
                    alt="Calendar"
                /></span>
                8/10/2025</a
              >
            </li>
            <li>
              <a href="javascript:void(0);">
                <span class="icon"
                  ><img
                    class="mt-4-"
                    ngSrc="assets/img/icons/vl-tags.svg"
                    width="16"
                    height="16"
                    alt="Tags"
                /></span>
                Business And Finance</a
              >
            </li>
            <li>
              <a href="javascript:void(0);">
                <span class="icon"
                  ><img
                    class="mt-4-"
                    ngSrc="assets/img/icons/vl-chatting-icon.svg"
                    width="16"
                    height="16"
                    alt="Comments" /></span
                >2 comments</a
              >
            </li>
          </ul>
        </div>
        <div class="vl-event-content vl-blg-content">
          <h2 class="title">
            Tips for Disaster Preparedness: How <br />
            to Stay Safe and Ready
          </h2>
          <p class="para pb-16">
            Our blog is a space where we share the heart of our mission,
            offering an inside look at the incredible work being done and the
            lives being transformed through your support. Each post features
            real stories from the field, updates on our current projects.
          </p>
          <p class="para pb-32">
            Whether you're learning about a new initiative, discovering how your
            donations are making an impact, or finding inspiration to get
            involved, our blog is here to connect.
          </p>
        </div>
        <div class="vl-blg-icon-box">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="single-blog-box1 mb-30">
                <a routerLink="/blog-single" class="title"
                  >Mission and Vision</a
                >
                <p class="para">
                  Join us on this journey & let continue making the world a
                  better place.
                </p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="single-blog-box1 mb-30">
                <a routerLink="/blog-single" class="title"
                  >A Journey of Impact</a
                >
                <p class="para">
                  Our blog is more than just collection of updates it’s a
                  platform for sharing.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="event-content-area">
          <h2 class="title">Join Us in Making a Difference</h2>
          <p class="para">
            We invite you to join us, meet like-minded individuals, and become
            part of a movement that makes real, lasting change. Whether you
            attend, volunteer, or help spread the word, your involvement is
            invaluable. Explore our upcoming events.
          </p>

          <h2 class="title">Event Highlights & Details</h2>
          <p class="para">
            Our events are designed to unite passionate individuals, raise
            critical funds, & increase awareness for the causes we serve. Each
            event offers a unique opportunity to connect, contribute, and
            witness the power of community in action.
          </p>
          <p class="para">
            Our events are opportunities to bring people together for meaningful
            causes, creating moments of connection and impact that extend far
            beyond the day itself.
          </p>

          <h2 class="title">Upcoming Fundraisers and Community Events</h2>
          <p class="para">
            From heartwarming charity dinners to hands-on volunteer days, these
            gatherings allow us to celebrate milestones, share stories of
            impact, and inspire further action. By joining us at our upcoming
            events, you’re not just attending you’re becoming part movement.
          </p>
          <p class="para">
            Each event, whether a fundraiser, awareness campaign, volunteer
            drive, or community gathering, plays a vital role in supporting our
            mission and raising essential resources.
          </p>

          <h2 class="title">Event Details and How to Participate</h2>
          <p class="para">
            Whether you attend, volunteer, or help spread the word, your
            involvement is invaluable. Explore our upcoming events, find ways to
            get involved, and help us create brighter futures for those in need.
            Together, we can make an extraordinary impact!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
