<section id="work" class="vl-work5 sp2">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="vl-work-content mb-30">
            <div class="vl-section-title5">
              <h5 class="subtitle" data-aos="zoom-in-up" data-aos-duration="1200" data-aos-delay="300"> How It’s Work</h5>
              <h2 class="title text-anime-style-3">Our Approach to Human Right Empowering Action</h2>
              <p class="para" data-aos="zoom-in-up" data-aos-duration="1200" data-aos-delay="300">We work alongside policymakers, grassroots organizations, and <br> international bodies to influence laws, policies, and social norms <br> that protect human dignity our efforts are fueled by the support.</p>
            </div>
            <div class="vl-work-thumb reveal" appGsapReveal>
              <img class="w-100" src="assets/img/work/vl-work-thumb-5.1.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="work-box ml-50">
            <div class="row">
                <div class="col-lg-12" data-aos="zoom-in-up" data-aos-duration="1200" data-aos-delay="300">
                  <!-- single box start -->
                  <div class="vl-single-work-box">
                    <div class="work-box-flx">
                      <div class="num">
                        <span>01</span>
                      </div>
                      <div class="content">
                        <h5 class="title">Turning Advocacy into Action</h5>
                        <p class="para">At the core of our work is commitment to creating tangible lasting change through advocacy.</p>
                      </div>
                    </div>
                  </div><!-- single box end -->
                </div>
              <div class="col-lg-12" data-aos="zoom-in-up" data-aos-duration="1100" data-aos-delay="300">
                <!-- single box start -->
                <div class="vl-single-work-box active">
                <div class="work-box-flx">
                  <div class="num">
                    <span>02</span>
                  </div>
                  <div class="content">
                    <h5 class="title">Advancing Justice, Empowering Change</h5>
                    <p class="para">At the heart of our work is the belief that every individual deserves to live with dignity, freedom.</p>
                  </div>
                </div>
                </div><!-- single box end -->
              </div>
  
              <div class="col-lg-12" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="300">
                <!-- single box start -->
                <div class="vl-single-work-box">
                  <div class="work-box-flx">
                    <div class="num">
                      <span>03</span>
                    </div>
                    <div class="content">
                      <h5 class="title">Turning Advocacy into Lasting Change</h5>
                      <p class="para">At the heart of our advocacy is a but power full belief every individual deserve live dignity.</p>
                    </div>
                  </div>
                </div>  <!-- single box end -->
              </div>
              <div class="col-lg-12" data-aos="zoom-in-up" data-aos-duration="900" data-aos-delay="300">
                 <!-- single box start -->
                <div class="vl-single-work-box">
                  <div class="work-box-flx">
                    <div class="num">
                      <span>04</span>
                    </div>
                    <div class="content">
                      <h5 class="title">Empowering Change Through Advocacy</h5>
                      <p class="para">At the core of our work is the belief that everyone deserves equal rights and opportunities.</p>
                    </div>
                  </div>
                </div> <!-- single box end --> 
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>