<section class="vl-blog-inner sp2">
  <div class="container">
    @if (isLoading) {
      <div class="row">
        <div class="col-12">
          <div class="d-flex align-items-center justify-content-center py-5">
            <div class="spinner-border text-primary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    } @else {
      <div class="row">
        <!-- Blog Posts -->
        @for (blog of pagedBlogs; track $index) {
          <div class="col-lg-4 col-md-6">
            <div class="vl-single-blg-item mb-30">
              <div class="vl-blg-thumb">
                <a [routerLink]="['/blog', blog.id]">
                  <img
                    class="w-100"
                    [ngSrc]="blog.image || 'assets/img/blog/vl-blg-1.1.png'"
                    width="600"
                    height="400"
                    [alt]="blog.title"
                  />
                </a>
              </div>
              <div class="vl-meta">
                <ul>
                  <li>
                    <a href="javascript:void(0);"
                      ><span class="top-minus">
                        <img
                          ngSrc="assets/img/icons/vl-calender-1.1.svg"
                          width="16"
                          height="16"
                          alt="Calendar"
                      /></span>
                      {{ blog.date }}</a
                    >
                  </li>
                  <li>
                    <a href="javascript:void(0);"
                      ><span class="top-minus">
                        <img
                          ngSrc="assets/img/icons/vl-user-1.1.svg"
                          width="16"
                          height="16"
                          alt="Author"
                      /></span>
                      {{ blog.author }}</a
                    >
                  </li>
                </ul>
              </div>
              <div class="vl-blg-content">
                <h3 class="title">
                  <a [routerLink]="['/blog-single']">{{ blog.title }}</a>
                </h3>
                <p>{{ blog.description }}</p>
                <a [routerLink]="['/blog-single']" class="read-more">
                  Read More <span><i class="fa-solid fa-arrow-right"></i></span>
                </a>
              </div>
            </div>
          </div>
        }
      </div>

      <!-- Pagination -->
      @if (totalPages > 1) {
        <div class="row">
          <div class="col-12 m-auto">
            <div class="theme-pagination thme-pagination-mt text-center mt-18">
              <ul>
                <li [class.disabled]="currentPage === 1">
                  <a
                    href="javascript:void(0);"
                    (click)="goToPage(currentPage - 1)"
                  >
                    <i class="fa-solid fa-angle-left"></i>
                  </a>
                </li>
                @for (page of pages; track page) {
                  <li>
                    <a
                      href="javascript:void(0);"
                      [class.active]="page === currentPage"
                      (click)="goToPage(page)"
                      >{{ page }}</a
                    >
                  </li>
                }
                <li [class.disabled]="currentPage === totalPages">
                  <a
                    href="javascript:void(0);"
                    (click)="goToPage(currentPage + 1)"
                  >
                    <i class="fa-solid fa-angle-right"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      }
    }
  </div>
</section>
