<div class="vl-header-top d-none d-lg-block">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="vl-header-top-content">
            <p>Are you ready to free case evaluation today? </p>
            <a href="javascript:void(0);" class="top-contact">Contact Us</a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="vl-header-top-icon">
            <div class="vl-header-top-icbox">
              <div class="top-icon">
                <span><img src="assets/img/icons/vl-top-ic-1.1.svg" alt=""></span>
              </div>
              <div class="top-content">
                <a href="mailto:info&#64;disasterelief.com">info&#64;disasterelief.com</a>
              </div>
            </div>
  
            <div class="vl-header-top-icbox">
              <div class="top-icon">
                <span><img src="assets/img/icons/vl-top-ic-1.2.svg" alt=""></span>
              </div>
              <div class="top-content">
                <a href="tel:5551234567">(555) 123-4567</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>