<app-home />
<app-about />
<app-counter />
<app-choose />
<app-work />
<app-blog-news />
<div class="mobile-header mobile-haeder4 d-block d-lg-none">
  <div class="container">
    <div class="col-12">
      <div class="mobile-header-elements">
        <div class="mobile-logo">
          <a routerLink="/"
            ><img src="assets/img/logo/kku-logo.png" alt=""
          /></a>
        </div>
        <div
          class="mobile-nav-icon mobile-nav-icon3 dots-menu"
          (click)="toggleMenu()"
        >
          <i class="fa-solid fa-bars"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<app-mobile-sidebar [isMenuOpen]="isMenuOpen" (closeMenuEvent)="closeMenu()">
</app-mobile-sidebar>

<app-page-scroll progressClass="progress-wrap" />
