<header>
    <div class="header-area header5 homepage1 header header-sticky d-none d-lg-block " id="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-elements header-elements-1">
                        <div class="site-logo">
                            <a routerLink="/"><img src="assets/img/logo/vl-logo-5.1.png" alt=""></a>
                        </div>
                        <div class="main-menu main-menu-5">
                            <ul>
                                <li [ngClass]="{
                                active: activeLink === 'about'
                              }" (click)="setActiveLink('about')"><a [ngxScrollTo]="'#about'">About</a></li>
                                <li [ngClass]="{
                                active: activeLink === 'WhyChooseUs'
                              }" (click)="setActiveLink('WhyChooseUs')"><a [ngxScrollTo]="'#WhyChooseUs'">Why Choose
                                        Us</a></li>
                                <li [ngClass]="{
                                active: activeLink === 'faq'
                              }" (click)="setActiveLink('faq')"><a [ngxScrollTo]="'#faq'">Faq</a></li>
                                <li [ngClass]="{
                                active: activeLink === 'work'
                              }" (click)="setActiveLink('work')"><a [ngxScrollTo]="'#work'">Work</a></li>
                                <li [ngClass]="{
                                active: activeLink === 'blog'
                              }" (click)="setActiveLink('blog')"><a [ngxScrollTo]="'#blog'">Blog</a></li>
                            </ul>
                        </div>
                        <div class="btn-area">
                            <div class="btn5">
                                <a routerLink="/contact" class="btn-priamry1">Donate Now <span><i
                                            class="fa-solid fa-arrow-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<app-home5 />
<app-about5 id="about" />
<app-counter5 />
<app-choose5 id="WhyChooseUs" />
<app-faq5 id="faq" />
<app-work5 id="work" />
<app-blog-news5 id="blog" />
<app-cta5 />
<app-footer5 />
<div class="mobile-header mobile-haeder4 d-block d-lg-none">
    <div class="container">
        <div class="col-12">
            <div class="mobile-header-elements">
                <div class="mobile-logo">
                    <a routerLink="/"><img src="assets/img/logo/vl-logo-5.1.png" alt=""></a>
                </div>
                <div class="mobile-nav-icon mobile-nav-icon3 dots-menu" (click)="toggleMenu()">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mobile-sidebar mobile-sidebar1" [ngClass]="{ 'mobile-menu-active': isMenuOpen }">
    <div class="logosicon-area">
        <div class="logos">
            <img src="assets/img/logo/vl-logo-5.1.png" alt="">
        </div>
        <div class="menu-close" (click)="closeMenu()">
            <i class="fa-solid fa-xmark"></i>
        </div>
    </div>
    <div class="mobile-nav mobile-nav1">
        <ul class="mobile-nav-list nav-list1">
            <li [ngClass]="{
            active: activeLink === 'about'
          }" (click)="setActiveLink('about')"><a [ngxScrollTo]="'#about'">About</a></li>
            <li [ngClass]="{
            active: activeLink === 'WhyChooseUs'
          }" (click)="setActiveLink('WhyChooseUs')"><a [ngxScrollTo]="'#WhyChooseUs'">Why Choose Us</a></li>
            <li [ngClass]="{
            active: activeLink === 'faq'
          }" (click)="setActiveLink('faq')"><a [ngxScrollTo]="'#faq'">Faq</a></li>
            <li [ngClass]="{
            active: activeLink === 'work'
          }" (click)="setActiveLink('work')"><a [ngxScrollTo]="'#work'">Work</a></li>
            <li [ngClass]="{
            active: activeLink === 'blog'
          }" (click)="setActiveLink('blog')"><a [ngxScrollTo]="'#blog'">Blog</a></li>
        </ul>

        <div class="allmobilesection">
            <!-- btn -->
            <div class="mobile-btn5">
                <div class="btn5">
                    <a routerLink="/contact" class="btn-priamry1">Donate Now <span><i
                                class="fa-solid fa-arrow-right"></i></span></a>
                </div>
            </div>

            <div class="vl-mobile-contact1">
                <h3 class="title">Contact Info</h3>
                <div class="footer1-contact-info">
                    <div class="contact-info-single">
                        <div class="contact-info-icon">
                            <i class="fa-solid fa-phone-volume"></i>
                        </div>
                        <div class="contact-info-text">
                            <a href="tel:+3(924)4596512">+3(924)4596512</a>
                        </div>
                    </div>

                    <!-- single footer -->
                    <div class="contact-info-single">
                        <div class="contact-info-icon">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <div class="contact-info-text">
                            <a href="mailto:info&#64;example.com">info&#64;example.com</a>
                        </div>
                    </div>

                    <!-- single footer -->
                    <div class="contact-info-single">
                        <div class="contact-info-icon">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                        <div class="contact-info-text">
                            <a href="mailto:info&#64;example.com">55 East Birchwood Ave.Brooklyn, <br> New York
                                11201,United States</a>
                        </div>
                    </div>


                    <div class="vl-mobile-contact1">
                        <h3 class="title">Social Links</h3>

                        <div class="social-links-mobile-menu">
                            <ul>
                                <li><a href="javascript:void(0);"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa-brands fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-page-scroll progressClass="progress-wrap5" />