<section class="vl-testimonial4 sp2">
    <div class="shape"><img src="assets/img/icons/vl-arrowbig-left.svg" alt=""></div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="testimonial-slides-wrap">
            <!-- slider thumbnail -->
            <ngx-slick-carousel [config]="sliderForConfig" class="slider-thumb slider-for">
              <div ngxSlickItem class="single-thumb reveal" appGsapReveal>
                <img class="w-100" src="assets/img/testimonial/vl-testimonial-large-thumb-4.1.png" alt="">
              </div>
              <div ngxSlickItem class="single-thumb reveal" appGsapReveal>
                <img class="w-100" src="assets/img/testimonial/test-img.jpg" alt="">
              </div>
            </ngx-slick-carousel>
  
            <ngx-slick-carousel [config]="sliderNavConfig" class="slider-sm slider-nav p-relative">
              <!-- silder item -->
               <div ngxSlickItem class="slider-content-box">
                  <div class="icon">
                    <ul>
                      <li><span><img src="assets/img/icons/vl-review-icon-4.1.svg" alt=""></span></li>
                      <li><span><img src="assets/img/icons/vl-review-icon-4.1.svg" alt=""></span></li>
                      <li><span><img src="assets/img/icons/vl-review-icon-4.1.svg" alt=""></span></li>
                      <li><span><img src="assets/img/icons/vl-review-icon-4.1.svg" alt=""></span></li>
                      <li><span><img src="assets/img/icons/vl-review-icon-4.1.svg" alt=""></span></li>
                    </ul>
                  </div>
                <p class="para">“Through their words, we’re reminded that a <br> legacy isn’t just something you leave behind <br> it’s something you create every day inspiring <br> all generations to follow in their footsteps.”</p>
                  
                  <div class="slider-flex">
                    <div class="user">
                      <img src="assets/img/testimonial/vl-sm-thumb-4.1.png" alt="">
                    </div>
                    <div class="content">
                      <a href="javascript:void(0);" class="title">Sharon McClure</a>
                      <span>Volunteer</span>
                    </div>
                  </div>
               </div>
  
               <!-- silder item -->
               <div ngxSlickItem class="slider-content-box">
                <div class="icon">
                  <ul>
                    <li><span><img src="assets/img/icons/vl-review-icon-4.1.svg" alt=""></span></li>
                    <li><span><img src="assets/img/icons/vl-review-icon-4.1.svg" alt=""></span></li>
                    <li><span><img src="assets/img/icons/vl-review-icon-4.1.svg" alt=""></span></li>
                    <li><span><img src="assets/img/icons/vl-review-icon-4.1.svg" alt=""></span></li>
                    <li><span><img src="assets/img/icons/vl-review-icon-4.1.svg" alt=""></span></li>
                  </ul>
                </div>
                <p class="para">“Through their words, we’re reminded that a <br> legacy isn’t just something you leave behind <br> it’s something you create every day inspiring <br> all generations to follow in their footsteps.”</p>
                <div class="slider-flex">
                  <div class="user">
                    <img src="assets/img/testimonial/vl-sm-thumb-4.1.png" alt="">
                  </div>
                  <div class="content">
                    <a href="javascript:void(0);" class="title">Sharon McClure</a>
                    <span>Volunteer</span>
                  </div>
                </div>
             </div>
            </ngx-slick-carousel>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="vl-testimonial-content">
            <div class="vl-section-title4">
              <h5 class="subtitle" data-aos="fade-left" data-aos-duration="800" data-aos-delay="300">Testimonial</h5>
              <h2 class="title text-anime-style-3">Lifelong Lessons: Stories from Our Elders</h2>
              <p class="para pb-32" data-aos="fade-left" data-aos-duration="800" data-aos-delay="300">Our seniors are heart of our community, each one with a unique <br> story and a lifetime of experiences that inspire us daily. Their <br> testimonials speak to the resilience, kindness, and courage.</p>
              
              <div class="btn-area4">
                <a href="javascript:void(0);" class="header-btn1 testimonial-btn4 testibtn4">Learn More <span><i class="fa-solid fa-arrow-right"></i></span></a>
              </div>
            </div>
  
            <div class="row">
              <!-- counter icon box -->
              <div class="col-lg-6 col-md-6 mb-30">
                <div class="icon-box-bg">
                  <div class="icon">
                    <span><img src="assets/img/icons/vl-uparrow4.svg" alt=""></span>
                  </div>
                  <h3 class="title"><span class="title counter" appCounter [countTo]="569"></span> +</h3>
                  <span>Satisficed Clients</span>
                </div>
              </div>
  
              <!-- counter icon box -->
              <div class="col-lg-6 col-md-6 mb-30">
                <div class="icon-box-bg active">
                  <div class="icon">
                    <span><img src="assets/img/icons/vl-uparrow4.svg" alt=""></span>
                  </div>
                  <h3 class="title"><span class="title counter" appCounter [countTo]="12">12</span> +</h3>
                  <span>Years Of Experience</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>