<section class="vl-event-area sp1">
    <div class="container p-relative">
        <div class="row">
            <div class="col-lg-7">
                <div class="vl-section-title4 mb-60">
                    <h5 class="subtitle" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">Latest Event
                    </h5>
                    <h2 class="title text-anime-style-3">We are Celebrating Lifetime</h2>
                    <p class="para" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">Join us for
                        unforgettable celebration honoring invaluable contributions <br> of our senior citizens, those
                        who have shaped our communities.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <owl-carousel-o id="event4" [options]="eventOption">
                <!-- single event -->
                <ng-template carouselSlide>
                    <div class="vl-single-event4">
                        <div class="thumb">
                            <img class="w-100" src="assets/img/event/vl-event-4.1.png" alt="">
                        </div>
                        <div class="content">
                            <!-- icon -->
                            <div class="icon-flex">
                                <div class="icon">
                                    <span><img src="assets/img/icons/vl-event-clock4.1.svg" alt=""></span>
                                </div>
                                <div class="text">
                                    <a href="javascript:void(0);" class="date">JAN 08, 2025</a> <br>
                                    <span>( 11:00 AM )</span>
                                </div>
                            </div>
                            <a routerLink="/event-single" class="title">A Legacy of Love Senior Citizen Appreciation
                                Day</a>
                            <p class="para">This event is more than a gathering it’s a tribute to the resilience.</p>
                            <a routerLink="/event-single" class="details">Events Details <span><i
                                        class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>

                    <!-- single event -->
                    <div class="vl-single-event4">
                        <div class="thumb">
                            <img class="w-100" src="assets/img/event/vl-event-4.2.png" alt="">
                        </div>
                        <div class="content">
                            <!-- icon -->
                            <div class="icon-flex">
                                <div class="icon">
                                    <span><img src="assets/img/icons/vl-event-clock4.1.svg" alt=""></span>
                                </div>
                                <div class="text">
                                    <a href="javascript:void(0);" class="date">JAN 08, 2025</a> <br>
                                    <span>( 11:00 AM )</span>
                                </div>
                            </div>
                            <a routerLink="/event-single" class="title">Seniors Making a Difference: A Community</a>
                            <p class="para">Attendee will enjoy an evening filled heartfelt, inspiring speeches.</p>
                            <a routerLink="/event-single" class="details">Events Details <span><i
                                        class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                    </div><!-- event end -->
                </ng-template>
                <ng-template carouselSlide>
                    <!-- single event -->
                    <div class="vl-single-event4">
                        <div class="thumb">
                            <img class="w-100" src="assets/img/event/vl-event-4.3.png" alt="">
                        </div>
                        <div class="content">
                            <!-- icon -->
                            <div class="icon-flex">
                                <div class="icon">
                                    <span><img src="assets/img/icons/vl-event-clock4.1.svg" alt=""></span>
                                </div>
                                <div class="text">
                                    <a href="javascript:void(0);" class="date">JAN 08, 2025</a> <br>
                                    <span>( 11:00 AM )</span>
                                </div>
                            </div>

                            <a routerLink="/event-single" class="title">Echoes of Experience: A Senior Celebration
                                Event</a>
                            <p class="para">Together, let’s honor the silver stars among us, recognizing that their.</p>
                            <a routerLink="/event-single" class="details">Events Details <span><i
                                        class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                    </div><!-- event end -->
                </ng-template>
                <!-- single event -->
                <ng-template carouselSlide>
                    <div class="vl-single-event4">
                        <div class="thumb">
                            <img class="w-100" src="assets/img/event/vl-event-4.1.png" alt="">
                        </div>
                        <div class="content">
                            <!-- icon -->
                            <div class="icon-flex">
                                <div class="icon">
                                    <span><img src="assets/img/icons/vl-event-clock4.1.svg" alt=""></span>
                                </div>
                                <div class="text">
                                    <a href="javascript:void(0);" class="date">JAN 08, 2025</a> <br>
                                    <span>( 11:00 AM )</span>
                                </div>
                            </div>

                            <a routerLink="/event-single" class="title">A Legacy of Love Senior Citizen Appreciation
                                Day</a>
                            <p class="para">This event is more than a gathering it’s a tribute to the resilience.</p>
                            <a routerLink="/event-single" class="details">Events Details <span><i
                                        class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                    </div><!-- event end -->
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</section>