<section class="vl-testimonial4 vl-testimonial-inner sp2">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="testimonial-slides-wrap">
          <!-- slider thumbnail -->
          @defer (on viewport) {
            <owl-carousel-o
              #thumbCarousel
              [options]="thumbOptions"
              class="slider-thumb slider-for1"
              (translated)="onThumbTranslated($event)"
            >
              <ng-template carouselSlide *ngFor="let item of testimonials">
                <div class="single-thumb">
                  <img
                    class="w-100"
                    [ngSrc]="item.imageLarge"
                    width="600"
                    height="400"
                    [alt]="item.name"
                  />
                </div>
              </ng-template>
            </owl-carousel-o>

            <div class="content-box-2">
              <owl-carousel-o
                #contentCarousel
                [options]="contentOptions"
                class="slider-sm slider-nav1 p-relative"
                (translated)="onContentTranslated($event)"
              >
                <!-- silder item -->
                <ng-template carouselSlide *ngFor="let item of testimonials">
                  <div class="slider-content-box content-box2">
                    <div class="icon">
                      <ul>
                        <li>
                          <span
                            ><img
                              ngSrc="assets/img/icons/vl-review-icon-4.1.svg"
                              width="24"
                              height="24"
                              alt="Review"
                          /></span>
                        </li>
                        <li>
                          <span
                            ><img
                              ngSrc="assets/img/icons/vl-review-icon-4.1.svg"
                              width="24"
                              height="24"
                              alt="Review"
                          /></span>
                        </li>
                        <li>
                          <span
                            ><img
                              ngSrc="assets/img/icons/vl-review-icon-4.1.svg"
                              width="24"
                              height="24"
                              alt="Review"
                          /></span>
                        </li>
                        <li>
                          <span
                            ><img
                              ngSrc="assets/img/icons/vl-review-icon-4.1.svg"
                              width="24"
                              height="24"
                              alt="Review"
                          /></span>
                        </li>
                        <li>
                          <span
                            ><img
                              ngSrc="assets/img/icons/vl-review-icon-4.1.svg"
                              width="24"
                              height="24"
                              alt="Review"
                          /></span>
                        </li>
                      </ul>
                    </div>
                    <p class="para">"{{ item.text }}"</p>
                    <div class="slider-flex">
                      <div class="user">
                        <img
                          [ngSrc]="item.imageSmall"
                          width="120"
                          height="120"
                          [alt]="item.name"
                        />
                      </div>
                      <div class="content">
                        <a href="javascript:void(0);" class="title">{{
                          item.name
                        }}</a>
                        <span>{{ item.role }}</span>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </owl-carousel-o>
            </div>
          } @placeholder {
            <div class="testimonial-placeholder"></div>
          }
        </div>
      </div>
      <div class="col-lg-6">
        <div class="vl-testimonial-content">
          <div class="vl-section-title4">
            <h5 class="subtitle">Testimonial</h5>
            <h2 class="title">Wisdom from Our Elders: Stories of Impact</h2>
            <p class="para pb-32">
              Our seniors are the heartbeat of our communities. Their stories of
              resilience remind us why we serve, and their gratitude fuels our
              mission to build a better Nigeria for the generations following in
              their footsteps.
            </p>
            <div class="btn-area pb-48">
              <a href="javascript:void(0);" class="header-btn1"
                >Learn More <span><i class="fa-solid fa-arrow-right"></i></span
              ></a>
            </div>
          </div>

          <div class="row">
            <!-- counter icon box -->
            <div class="col-lg-6 col-md-6 mb-30">
              <div class="icon-box-bg icon-box-bg2">
                <div class="icon">
                  <span
                    ><img src="assets/img/icons/vl-uparrow4.svg" alt=""
                  /></span>
                </div>
                <h3 class="title">
                  <span class="title counter" appCounter [countTo]="569"></span>
                  +
                </h3>
                <span>Satisficed Clients</span>
              </div>
            </div>

            <!-- counter icon box -->
            <div class="col-lg-6 col-md-6 mb-30">
              <div class="icon-box-bg icon-box-bg2 active">
                <div class="icon">
                  <span
                    ><img src="assets/img/icons/vl-uparrow4.svg" alt=""
                  /></span>
                </div>
                <h3 class="title">
                  <span class="title counter" appCounter [countTo]="12"></span>
                  +
                </h3>
                <span>Years Of Experience</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
