<section class="vl-choose5 sp2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="vl-choose-content mb-30">
                    <div class="vl-section-title5">
                        <h5 class="subtitle" data-aos="fade-right" data-aos-duration="800" data-aos-delay="300">Why
                            Choose Us</h5>
                        <h2 class="title text-anime-style-3">Dedicated to a Healthier World Clean Water</h2>
                        <p class="para" data-aos-duration="800" data-aos-delay="300">At our core, we believe that access
                            to clean water is a basic human <br> right. Our organization is dedicated to providing
                            sustainable waterto providing sustainable water.</p>
                    </div>
                </div>
                <div class="row">
                    <!-- single icon box -->
                    <div class="col-lg-6 col-md-6" data-aos="zoom-in-up" data-aos-duration="1200" data-aos-delay="300">
                        <div class="vl-icon-box mb-30">
                            <div class="icon">
                                <span><img src="assets/img/icons/vl-ic-5.1.svg" alt=""></span>
                            </div>
                            <div class="content">
                                <a routerLink="/service" class="title">Give Right Place</a>
                                <p class="para">Increase the likelihood of being in the right place at the goals and
                                    work.</p>
                                <a routerLink="/service" class="readmore">Read More <span><i
                                            class="fa-solid fa-arrow-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                    <!-- single icon box -->
                    <div class="col-lg-6 col-md-6" data-aos="zoom-in-up" data-aos-duration="1100" data-aos-delay="300">
                        <div class="vl-icon-box mb-30">
                            <div class="icon">
                                <span><img src="assets/img/icons/vl-ic-5.2.svg" alt=""></span>
                            </div>
                            <div class="content">
                                <a routerLink="/service" class="title">Money & Helath</a>
                                <p class="para">Between physical, mental and the financial health explore this in
                                    people.</p>
                                <a routerLink="/service" class="readmore">Read More <span><i
                                            class="fa-solid fa-arrow-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-thumb-box ml-50">
                    <div class="box-icon">
                        <a routerLink="/about"><span><img src="assets/img/icons/vl-choose-up-arow.svg" alt=""></span></a>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="single-thmb mb-30 reveal" appGsapReveal>
                                <img class="w-100" src="assets/img/choose/vl-choose-thumb-1.1.png" alt="">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="single-thmb2 mb-30 reveal" appGsapReveal>
                                <img class="w-100" src="assets/img/choose/vl-choose-thumb-1.2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="vl-brand5">
    <div class="container">
        <owl-carousel-o [options]="chooseSlider" id="brandactive5" class="">
            <!-- single brand -->
            <ng-template carouselSlide>
                <div class="single-brand-logo">
                    <img src="assets/img/brand/vl-brand-5.1.png" alt="">
                </div>
            </ng-template>

            <!-- single brand -->
            <ng-template carouselSlide>
                <div class="single-brand-logo">
                    <img src="assets/img/brand/vl-brand-5.2.png" alt="">
                </div>
            </ng-template>

            <!-- single brand -->
            <ng-template carouselSlide>
                <div class="single-brand-logo">
                    <img src="assets/img/brand/vl-brand-5.3.png" alt="">
                </div>
            </ng-template>

            <!-- single brand -->
            <ng-template carouselSlide>
                <div class="single-brand-logo">
                    <img src="assets/img/brand/vl-brand-5.4.png" alt="">
                </div>
            </ng-template>

            <!-- single brand -->
            <ng-template carouselSlide>
                <div class="single-brand-logo">
                    <img src="assets/img/brand/vl-brand-5.5.png" alt="">
                </div>
            </ng-template>

            <!-- single brand -->
            <ng-template carouselSlide>
                <div class="single-brand-logo">
                    <img src="assets/img/brand/vl-brand-5.6.png" alt="">
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>

</div>