<div class="vl-sidebar-area sp2">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="vl-widget-area">
            <!-- single widget -->
             <div class="vl-search-widget mb-30">
                <h3 class="title">Search</h3>
                <div class="search p-relative">
                  <input type="text" placeholder="Search...">
                    <span>
                      <img src="assets/img/icons/vl-search-icon.svg" alt="">
                    </span>
                </div>
             </div>
  
             <!-- single widget -->
             <div class="vl-search-widget mb-30">
              <h3 class="title">Categories</h3>
              
              <div class="vl-single-service">
                <a href="javascript:void(0);">Charity</a>
                <span><img src="assets/img/icons/vl-arrow-down.svg" alt=""></span>
              </div>
  
              <div class="vl-single-service">
                <a href="javascript:void(0);">Donation</a>
                <span><img src="assets/img/icons/vl-arrow-down.svg" alt=""></span>
              </div>
  
              <div class="vl-single-service">
                <a href="javascript:void(0);">Education & Food</a>
                <span><img src="assets/img/icons/vl-arrow-down.svg" alt=""></span>
              </div>
  
              <div class="vl-single-service">
                <a href="javascript:void(0);">Health & Medicine </a>
                <span><img src="assets/img/icons/vl-arrow-down.svg" alt=""></span>
              </div>
  
              <div class="vl-single-service">
                <a href="javascript:void(0);">Medicine & Water</a>
                <span><img src="assets/img/icons/vl-arrow-down.svg" alt=""></span>
              </div>
            </div>
  
           <!-- single widget -->
           <div class="vl-phone-widget mb-30">
            <h3 class="title">If You Need Any Help <br> Contact With Us</h3>
            <a href="javascript:void(0);" class="phone"> <span><img src="assets/img/icons/vl-phone-event.svg" alt=""></span>+123 456 7890</a>
          </div>
  
          <!-- single widget -->
           <div class="vl-social-widget mb-30">
              <h3 class="title">Follow Us</h3>
              <div class="social-icon">
                <ul>
                  <li><a href="javascript:void(0);"><i class="fa-brands fa-facebook-f"></i></a></li>
                  <li><a href="javascript:void(0);"><i class="fa-brands fa-twitter"></i></a></li>
                  <li><a href="javascript:void(0);"><i class="fa-brands fa-linkedin-in"></i></a></li>
                  <li><a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
              </div>
           </div>
          </div>
        </div>
  
  
        <div class="col-lg-8">
          <div class="vl-event-content-area ml-50">
            <div class="vl-large-thumb">
              <img class="w-100" src="assets/img/cause/vl-cause-learge-thumb.png" alt="">
            </div>
  
            <div class="vl-event-box-bg cause-box-bg">
              <div class="row">
                <div class="skill-progress">
                  <div class="skill-box">
                      <div class="skill-bar">
                          <span class="skill-per html">
                              <span class="tooltipp">16%</span>
                          </span>
                        </div>
                      <div class="skill-vlue">
                        <div class="num1"><span>Goal: </span>$90,000</div>
                        <div class="num1"><span>Raised: </span>$26,000</div>
                      </div>
                  </div>
                </div>
  
  
                <div class="display-amount" id="displayAmount">{{selectedAmount|currency}}</div>
  
                <div class="amount-selector">
                    @for (amt of amounts; track $index) {
                        <button class="button selected" (click)="selectAmount(amt)"
                            [class.selected]="amt === selectedAmount"><span><img
                                    src="assets/img/icons/dollar.svg" alt=""></span>{{amt}}</button>
                        }
                  <div class="custom-button" onclick="customAmount()">
                    Custom Amount <span><img src="assets/img/icons/custom-amou.svg" alt=""></span>
                  </div>
                </div>
  
                <!-- select method -->
                 <div class="space-div">
                  <div class="select-method">
                    <h4 class="title pb-32">Select Payment Method</h4>
    
                    <!-- btn -->
                    <div class="select-meth">
                      <div class="online">
                        <input type="radio" id="Online" name="fav_language" value="Online">
                        <label for="Online">Online Donation</label><br>
                      </div>
  
                      <div class="ofline">
                        <input type="radio" id="Offline" name="fav_language" value="Offline">
                        <label for="Offline">Offline Donation</label>
                      </div>
                    </div>
                  </div>
                 </div>
  
                <!-- input field -->
                 <div class="donate-form">
                  <form action="#">
                    <div class="row">
                      <div class="col-lg-4 col-md-6 mb-20">
                        <input type="text" placeholder="First Name">
                      </div>
                      <div class="col-lg-4 col-md-6 mb-20">
                        <input type="text" placeholder="Last Name">
                      </div>
                      <div class="col-lg-4 col-md-6 mb-20">
                        <input type="email" placeholder="Email Address">
                      </div>
                    </div>
                    
                    
                  </form>
                  <div class="total-anoumt">
                    <div class="toal">
                      <div class="btn-area">
                        <button class="header-btn1">Donate <span><i class="fa-solid fa-arrow-right"></i></span></button>
                      </div>
                    </div>
                    <div class="content">
                      <h2 class="title">Donation Total: $10</h2>
                    </div>
                  </div>
                 </div>
                </div>
            </div>
  
            <div class="event-content-area">
              <h2 class="title">Hunger Relief and Food</h2>
              <p class="para">Our causes reflect the diverse and pressing needs of communities worldwide. From supporting education and healthcare to providing disaster relief and environmental protection, each cause we champion is a step a more just & compassionate world.</p>
  
              <p class="para">
                We work closely with local partners to identify areas where our support can make the greatest impact, ensuring that every donation and effort goes directly toward creating.
              </p>
  
              <h2 class="title">Creating Lasting Impact Together</h2>
              <p class="para">Our causes represent the heart of our mission, each one addressing critical need within our communities. From providing access to clean water & nutritious food to supporting education, healthcare, and disaster relief, we work tirelessly to uplift and empower.</p>
  
  
              <h2 class="title">Transforming Lives and Communities</h2>
              <p class="para">Every cause we champion is chosen for its potential to create meaningful, sustainable change and to build a foundation for a brighter, more equitable future. By focusing our efforts on these key areas, we’re able to drive long-term impact and support.</p>
              <p class="para">Each cause we support reflects our commitment to addressing urgent needs & creating sustainable change. Our focus  include providing access to clean water, supporting.</p>
  
              <h2 class="title">Causes That Matter</h2>
              <p class="para">By focusing our efforts on these key areas, we’re able to drive long-term impact and support the resilience of individuals and families worldwide. Join us as we continue to make a difference where it’s needed most, turning hope into action, one cause at a time.</p>
  
              <p class="para">We’re able to drive long-term impact and support the resilience of individuals families worldwide. Join us as we continue to make a difference where it’s needed most, turning.</p>
  
              <h2 class="title">Challenge</h2>
              <p class="para">Vestibulum bandit libero at mauri's condiment scelerisque. In scelerisque in mauri's ut malassada. Nam so dales scelerisque ipsum sed vestibulum. Aliquam euismod mi vitae nibh placerat, nec auctor neque lacinia. Curabitur gravida orci purus.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>