:host {
  display: block;
}

.vl-donation-list {
  list-style: none;
  padding: 0;
  margin: 0 0 24px;
}

.vl-donation-list li {
  margin-bottom: 10px;
}

.vl-donation-list i {
  color: #0b7ad1;
  margin-right: 8px;
}
