<header>
    <div class="header-area header-area2 homepage1 header header-sticky d-none d-lg-block " id="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-elements header-elements-2">
                        <div class="site-logo">
                            <a routerLink="/"><img src="assets/img/logo/vl-logo-2.1.png" alt=""></a>
                        </div>
                        <div class="main-menu main-menu-2">
                            <ul>
                                <li [ngClass]="{
                                active: activeLink === 'service'
                              }" (click)="setActiveLink('service')"><a [ngxScrollTo]="'#service'" href="#service">Service</a></li>
                                <li [ngClass]="{
                                active: activeLink === 'about'
                              }" (click)="setActiveLink('about')"><a [ngxScrollTo]="'#about'">About Us</a></li>
                                <li [ngClass]="{
                                active: activeLink === 'donation'
                              }" (click)="setActiveLink('donation')"><a [ngxScrollTo]="'#donation'">Cause</a></li>
                                <li [ngClass]="{
                                active: activeLink === 'testimonial'
                              }" (click)="setActiveLink('testimonial')"><a [ngxScrollTo]="'#testimonial'">Testimonial</a></li>
                                <li [ngClass]="{
                                active: activeLink === 'contact'
                              }" (click)="setActiveLink('contact')"><a [ngxScrollTo]="'#contact'">Contact</a></li>
                                <li [ngClass]="{
                                active: activeLink === 'blog'
                              }" (click)="setActiveLink('blog')"><a [ngxScrollTo]="'#blog'">Blog</a></li>
                            </ul>
                        </div>
                        <div class="home-btn-2">
                            <a routerLink="/contact" class="btn-2">Donate Now <span><i
                                        class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<app-home-area />
<app-service-area id="service"/>
<app-about-us-area id="about"/>
<app-safe-donation id="donation"/>
<app-testimonial id="testimonial"/>
<app-contact-us id="contact"/>
<app-help-us />
<app-our-blog id="blog"/>
<app-marquee />
<footer class="vl-footer-bg-1 vl-footer-bg-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="vl-footer-widget-1 mb-30">
                    <div class="vl-footer-logo">
                        <a href="javascript:void(0);"><img src="assets/img/logo/vl-footer-logo-1.1.png" alt=""></a>
                    </div>
                    <div class="vl-footer-content">
                        <p>Now the time act because every second counts, and contribution brings one step closer a
                            brighter future Join us today & difference.</p>
                    </div>
                    <div class="vl-footer-social-1">
                        <ul>
                            <li><a href="javascript:void(0);"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fa-brands fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="vl-footer-widget-2 pl-90 mb-30">
                    <h3 class="title">Quick Links</h3>
                    <div class="vl-footer-menu">
                        <ul>
                            <li><a routerLink="/">Home Page</a></li>
                            <li><a routerLink="/about">About Us</a></li>
                            <li><a href="javascript:void(0);">Appointment</a></li>
                            <li><a routerLink="/blog">News & Blog</a></li>
                            <li><a href="javascript:void(0);">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="vl-footer-widget-2 pl-30 mb-30">
                    <h3 class="title">Our services</h3>
                    <div class="vl-footer-menu">
                        <ul>
                            <li><a href="javascript:void(0);">Donation Online</a></li>
                            <li><a href="javascript:void(0);">Donor Centres</a></li>
                            <li><a routerLink="/volunteers">Volunteering</a></li>
                            <li><a href="javascript:void(0);">Your Philanthropy</a></li>
                            <li><a href="javascript:void(0);">Senior Care</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="vl-footer-widget-3 mb-30">
                    <h3 class="title">Contact Us</h3>
                    <!-- single box -->
                    <div class="vl-footer-icon-list">
                        <div class="vl-footer-icon">
                            <span><img src="assets/img/icons/vl-footer-2.1.svg" alt=""></span>
                        </div>
                        <div class="vl-footer-text">
                            <a href="tel:11234567890">+1 123 456 7890</a>
                        </div>
                    </div>

                    <!-- single box -->
                    <div class="vl-footer-icon-list">
                        <div class="vl-footer-icon">
                            <span><img src="assets/img/icons/vl-footer-2.2.svg" alt=""></span>
                        </div>
                        <div class="vl-footer-text">
                            <a href="javascript:void(0);">421 Allen, Mexico 4233</a>
                        </div>
                    </div>

                    <!-- single box -->
                    <div class="vl-footer-icon-list">
                        <div class="vl-footer-icon">
                            <span><img src="assets/img/icons/vl-footer-2.3.svg" alt=""></span>
                        </div>
                        <div class="vl-footer-text">
                            <a href="mailto:animalaescue&welfare&#64;com">animalaescue&welfare&#64;com</a>
                        </div>
                    </div>

                    <!-- single box -->
                    <div class="vl-footer-icon-list">
                        <div class="vl-footer-icon">
                            <span><img src="assets/img/icons/vl-footer-2.4.svg" alt=""></span>
                        </div>
                        <div class="vl-footer-text">
                            <a href="url:animalaescue&welfare.com">animalaescue&welfare.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="vl-copyright">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="vl-copyright-text">© 2025 Kelechi K. Ugoh ,Inc. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>


<div class="mobile-header mobile-haeder2 d-block d-lg-none">
    <div class="container">
        <div class="col-12">
            <div class="mobile-header-elements">
                <div class="mobile-logo">
                    <a routerLink="/"><img src="assets/img/logo/vl-logo-2.1.png" alt=""></a>
                </div>
                <div class="mobile-nav-icon mobile-nav-icon2 dots-menu" (click)="toggleMenu()">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
        </div>
    </div>
</div>

  
<div class="mobile-sidebar mobile-sidebar1"  [ngClass]="{ 'mobile-menu-active': isMenuOpen }">
    <div class="logosicon-area">
      <div class="logos">
        <img src="assets/img/logo/vl-footer-logo-1.1.png" alt="">
      </div>
      <div class="menu-close" (click)="closeMenu()">
        <i class="fa-solid fa-xmark"></i>
      </div>
     </div>
    <div class="mobile-nav mobile-nav1">
      <ul class="mobile-nav-list nav-list1">
        <li><a href="#service">Service</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#donation">Cause</a></li>
        <li><a href="#testimonial">Testimonial</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#blog">Blog</a></li>
      </ul>
  
      <div class="allmobilesection">
        <!-- btn -->
        <div class="vl-about-btn">
          <a href="javascript:void(0);" class="btn-primary2">Donate Now <span><i class="fa-solid fa-arrow-right"></i></span></a>
       </div>
        
        <div class="vl-mobile-contact1">
          <h3 class="title">Contact Info</h3>
          <div class="footer1-contact-info">
            <div class="contact-info-single">
              <div class="contact-info-icon">
                <i class="fa-solid fa-phone-volume"></i>
              </div>
              <div class="contact-info-text">
                <a href="tel:+3(924)4596512">+3(924)4596512</a>
              </div>
            </div>
  
            <!-- single footer -->
            <div class="contact-info-single">
              <div class="contact-info-icon">
                <i class="fa-solid fa-envelope"></i>
              </div>
              <div class="contact-info-text">
                <a href="mailto:info&#64;example.com">info&#64;example.com</a>
              </div>
            </div>
  
            <!-- single footer -->
            <div class="contact-info-single">
              <div class="contact-info-icon">
                <i class="fa-solid fa-location-dot"></i>
              </div>
              <div class="contact-info-text">
                <a href="mailto:info&#64;example.com" >55 East Birchwood Ave.Brooklyn, <br> New York 11201,United States</a>
              </div>
            </div>
  
  
            <div class="vl-mobile-contact1">
              <h3 class="title">Social Links</h3>
              
              <div class="social-links-mobile-menu">
                <ul>
                  <li><a href="javascript:void(0);"><i class="fa-brands fa-facebook-f"></i></a></li>
                  <li><a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a></li>
                  <li><a href="javascript:void(0);"><i class="fa-brands fa-linkedin-in"></i></a></li>
                  <li><a href="javascript:void(0);"><i class="fa-brands fa-youtube"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
       </div>
    </div>
  </div>

<app-page-scroll />
