<app-breadcrumb [backgroundImage]="'assets/img/breadcrumb/vl-faq-bg.png'"
  [shape1]="'assets/img/breadcrumb/breadcrumb-shape-1.1.png'"
  [shape2]="'assets/img/breadcrumb/breadcrumb-shape-1.2.png'"
  [shape3]="'assets/img/breadcrumb/breadcrumb-shape-1.3.png'" [pageTitle]="'FAQ’s'">
</app-breadcrumb>

<section class="vl-faq-inner sp2">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <h2 class="title mb-60 text-center">Frequently Asked Questions</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 mx-auto">
        <div class="vl-tab-item">
          <ul ngbNav #nav="ngbNav" class="nav nav-pills" id="pills-tab" role="tablist">
            <li ngbNavItem class="nav-item" role="presentation">
              <button ngbNavLink class="nav-link mrf-16" id="pills-home-tab" data-bs-toggle="pill"
                data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                aria-selected="true">All</button>
              <ng-template ngbNavContent>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="accordion" ngbAccordion id="accordionExample4" [closeOthers]="true">
                      <div class="vl-accordion-item" ngbAccordionItem>
                        <h2 class="accordion-header" id="heading29" ngbAccordionHeader>
                          <button class="accordion-button" type="button" ngbAccordionButton data-bs-toggle="collapse"
                            data-bs-target="#collapse29" aria-expanded="true" aria-controls="collapse29">
                            How can I volunteer with your organization?
                          </button>
                        </h2>
                        <div id="collapse29" class="accordion-collapse collapse show" ngbAccordionCollapse
                          aria-labelledby="heading29" data-bs-parent="#accordionExample4">
                          <div class="accordion-body" ngbAccordionBody>
                            <p>We understand that you may have questions about our <br> mission, how donations are used,
                              & ways you can get.</p>
                          </div>
                        </div>
                      </div>
                      <div class="vl-accordion-item" ngbAccordionItem>
                        <h2 class="accordion-header" id="heading30" ngbAccordionHeader>
                          <button class="accordion-button" ngbAccordionButton
                            data-bs-toggle="collapse" data-bs-target="#collapse30" aria-expanded="false"
                            aria-controls="collapse30">
                            Is my donation tax-deductible?
                          </button>
                        </h2>
                        <div id="collapse30" class="accordion-collapse collapse" ngbAccordionCollapse
                          aria-labelledby="heading30" data-bs-parent="#accordionExample4">
                          <div class="accordion-body" ngbAccordionBody>
                            <p>We understand that you may have questions about our <br> mission, how donations are used,
                              & ways you can get.</p>
                          </div>
                        </div>
                      </div>
                      <div class="vl-accordion-item" ngbAccordionItem>
                        <h2 class="accordion-header" id="heading31" ngbAccordionHeader>
                          <button class="accordion-button" type="button" ngbAccordionButton
                            data-bs-toggle="collapse" data-bs-target="#collapse31" aria-expanded="false"
                            aria-controls="collapse31">
                            How are donations used?
                          </button>
                        </h2>
                        <div id="collapse31" class="accordion-collapse collapse" aria-labelledby="heading31"
                          ngbAccordionCollapse data-bs-parent="#accordionExample4">
                          <div class="accordion-body" ngbAccordionBody>
                            <p>We understand that you may have questions about our <br> mission, how donations are used,
                              & ways you can get.</p>
                          </div>
                        </div>
                      </div>
                      <div class="vl-accordion-item" ngbAccordionItem>
                        <h2 class="accordion-header" id="heading32" ngbAccordionHeader>
                          <button class="accordion-button" ngbAccordionButton type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse32" aria-expanded="false" aria-controls="collapse32">
                            Can I make a recurring monthly donation?
                          </button>
                        </h2>
                        <div id="collapse32" class="accordion-collapse collapse" ngbAccordionCollapse
                          aria-labelledby="heading32" data-bs-parent="#accordionExample4">
                          <div class="accordion-body" ngbAccordionBody>
                            <p>We understand that you may have questions about our <br> mission, how donations are used,
                              & ways you can get.</p>
                          </div>
                        </div>
                      </div>
                      <div class="vl-accordion-item" ngbAccordionItem>
                        <h2 class="accordion-header" id="heading33" ngbAccordionHeader>
                          <button class="accordion-button" type="button" ngbAccordionButton
                            data-bs-toggle="collapse" data-bs-target="#collapse33" aria-expanded="false"
                            aria-controls="collapse33">
                            You offer corporate partnership opportunities?
                          </button>
                        </h2>
                        <div id="collapse33" class="accordion-collapse collapse" ngbAccordionCollapse
                          aria-labelledby="heading33" data-bs-parent="#accordionExample4">
                          <div class="accordion-body" ngbAccordionBody>
                            <p>We understand that you may have questions about our <br> mission, how donations are used,
                              & ways you can get.</p>
                          </div>
                        </div>
                      </div>
                      <div class="vl-accordion-item" ngbAccordionItem>
                        <h2 class="accordion-header" id="heading34" ngbAccordionHeader>
                          <button class="accordion-button" type="button" ngbAccordionButton
                            data-bs-toggle="collapse" data-bs-target="#collapse34" aria-expanded="false"
                            aria-controls="collapse34">
                            Do you offer services for small businesses?
                          </button>
                        </h2>
                        <div id="collapse34" class="accordion-collapse collapse" aria-labelledby="heading34"
                          ngbAccordionCollapse data-bs-parent="#accordionExample4">
                          <div class="accordion-body" ngbAccordionBody>
                            <p>We understand that you may have questions about our <br> mission, how donations are used,
                              & ways you can get.</p>
                          </div>
                        </div>
                      </div>
                      <div class="vl-accordion-item" ngbAccordionItem>
                        <h2 class="accordion-header" id="heading35" ngbAccordionHeader>
                          <button class="accordion-button" type="button" ngbAccordionButton
                            data-bs-toggle="collapse" data-bs-target="#collapse35" aria-expanded="false"
                            aria-controls="collapse35">
                            Can I donate items instead of money?
                          </button>
                        </h2>
                        <div id="collapse35" class="accordion-collapse collapse" aria-labelledby="heading35"
                          ngbAccordionCollapse data-bs-parent="#accordionExample4">
                          <div class="accordion-body" ngbAccordionBody>
                            <p>We understand that you may have questions about our <br> mission, how donations are used,
                              & ways you can get.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="accordion" id="accordionExample5" ngbAccordion>
                      <div class="vl-accordion-item" ngbAccordionItem>
                        <h2 class="accordion-header" id="heading36" ngbAccordionHeader>
                          <button class="accordion-button" type="button" ngbAccordionButton
                            data-bs-toggle="collapse" data-bs-target="#collapse36" aria-expanded="false"
                            aria-controls="collapse36">
                            Is it possible to volunteer remotely?
                          </button>
                        </h2>
                        <div id="collapse36" class="accordion-collapse collapse" ngbAccordionCollapse
                          aria-labelledby="heading36" data-bs-parent="#accordionExample5">
                          <div class="accordion-body" ngbAccordionBody>
                            <p>We understand that you may have questions about our <br> mission, how donations are used,
                              & ways you can get.</p>
                          </div>
                        </div>
                      </div>
                      <div class="vl-accordion-item" ngbAccordionItem>
                        <h2 class="accordion-header" id="heading37" ngbAccordionHeader>
                          <button class="accordion-button" type="button" ngbAccordionHeader
                            data-bs-toggle="collapse" data-bs-target="#collapse37" aria-expanded="false"
                            aria-controls="collapse37">
                            Can I spread awareness about your mission?
                          </button>
                        </h2>
                        <div id="collapse37" class="accordion-collapse collapse" ngbAccordionCollapse
                          aria-labelledby="heading37" data-bs-parent="#accordionExample5">
                          <div class="accordion-body" ngbAccordionBody>
                            <p>We understand that you may have questions about our <br> mission, how donations are used,
                              & ways you can get.</p>
                          </div>
                        </div>
                      </div>
                      <div class="vl-accordion-item" ngbAccordionItem="">
                        <h2 class="accordion-header" id="heading38" ngbAccordionHeader>
                          <button class="accordion-button" type="button" ngbAccordionButton
                            data-bs-toggle="collapse" data-bs-target="#collapse38" aria-expanded="false"
                            aria-controls="collapse38">
                            You collaborate other charities or nonprofits?
                          </button>
                        </h2>
                        <div id="collapse38" class="accordion-collapse collapse" ngbAccordionCollapse
                          aria-labelledby="heading38" data-bs-parent="#accordionExample5">
                          <div class="accordion-body" ngbAccordionBody>
                            <p>We understand that you may have questions about our <br> mission, how donations are used,
                              & ways you can get.</p>
                          </div>
                        </div>
                      </div>
                      <div class="vl-accordion-item" ngbAccordionItem>
                        <h2 class="accordion-header" id="heading39" ngbAccordionHeader>
                          <button class="accordion-button" ngbAccordionButton type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapse39" aria-expanded="false"
                            aria-controls="collapse39">
                            Are there options for legacy or planned giving?
                          </button>
                        </h2>
                        <div id="collapse39" ngbAccordionCollapse class="accordion-collapse collapse"
                          aria-labelledby="heading39" data-bs-parent="#accordionExample5">
                          <div class="accordion-body" ngbAccordionBody>
                            <p>We understand that you may have questions about our <br> mission, how donations are used,
                              & ways you can get.</p>
                          </div>
                        </div>
                      </div>
                      <div class="vl-accordion-item" ngbAccordionItem>
                        <h2 class="accordion-header" id="heading40" ngbAccordionHeader>
                          <button class="accordion-button" type="button" ngbAccordionButton
                            data-bs-toggle="collapse" data-bs-target="#collapse40" aria-expanded="false"
                            aria-controls="collapse40">
                            What types of events does the organization host?
                          </button>
                        </h2>
                        <div id="collapse40" class="accordion-collapse collapse" ngbAccordionCollapse
                          aria-labelledby="heading40" data-bs-parent="#accordionExample5">
                          <div class="accordion-body" ngbAccordionBody>
                            <p>We understand that you may have questions about our <br> mission, how donations are used,
                              & ways you can get.</p>
                          </div>
                        </div>
                      </div>
                      <div class="vl-accordion-item" ngbAccordionItem>
                        <h2 class="accordion-header" id="heading41" ngbAccordionHeader>
                          <button class="accordion-button" type="button" ngbAccordionButton
                            data-bs-toggle="collapse" data-bs-target="#collapse41" aria-expanded="false"
                            aria-controls="collapse41">
                            Are there options for legacy or planned giving?
                          </button>
                        </h2>
                        <div id="collapse41" class="accordion-collapse collapse" ngbAccordionCollapse
                          aria-labelledby="heading41" data-bs-parent="#accordionExample5">
                          <div class="accordion-body" ngbAccordionBody>
                            <p>We understand that you may have questions about our <br> mission, how donations are used,
                              & ways you can get.</p>
                          </div>
                        </div>
                      </div>
                      <div class="vl-accordion-item" ngbAccordionItem>
                        <h2 class="accordion-header" id="heading42" ngbAccordionHeader>
                          <button class="accordion-button" type="button" ngbAccordionButton
                            data-bs-toggle="collapse" data-bs-target="#collapse42" aria-expanded="false"
                            aria-controls="collapse42">
                            How do I sponsor a specific project or campaign?
                          </button>
                        </h2>
                        <div id="collapse42" class="accordion-collapse collapse" ngbAccordionCollapse
                          aria-labelledby="heading42" data-bs-parent="#accordionExample5">
                          <div class="accordion-body" ngbAccordionBody>
                            <p>We understand that you may have questions about our <br> mission, how donations are used,
                              & ways you can get.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
            <li class="nav-item" ngbNavItem role="presentation">
              <button class="nav-link mrf-16" ngbNavLink id="pills-profile-tab" data-bs-toggle="pill"
                data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                aria-selected="false">Business</button>
                <ng-template ngbNavContent>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="accordion" ngbAccordion id="accordionExample4" [closeOthers]="true">
                        <div class="vl-accordion-item" ngbAccordionItem>
                          <h2 class="accordion-header" id="heading29" ngbAccordionHeader>
                            <button class="accordion-button" type="button" ngbAccordionButton data-bs-toggle="collapse"
                              data-bs-target="#collapse29" aria-expanded="true" aria-controls="collapse29">
                              How can I volunteer with your organization?
                            </button>
                          </h2>
                          <div id="collapse29" class="accordion-collapse collapse show" ngbAccordionCollapse
                            aria-labelledby="heading29" data-bs-parent="#accordionExample4">
                            <div class="accordion-body" ngbAccordionBody>
                              <p>We understand that you may have questions about our <br> mission, how donations are used,
                                & ways you can get.</p>
                            </div>
                          </div>
                        </div>
                        <div class="vl-accordion-item" ngbAccordionItem>
                          <h2 class="accordion-header" id="heading30" ngbAccordionHeader>
                            <button class="accordion-button" ngbAccordionButton
                              data-bs-toggle="collapse" data-bs-target="#collapse30" aria-expanded="false"
                              aria-controls="collapse30">
                              Is my donation tax-deductible?
                            </button>
                          </h2>
                          <div id="collapse30" class="accordion-collapse collapse" ngbAccordionCollapse
                            aria-labelledby="heading30" data-bs-parent="#accordionExample4">
                            <div class="accordion-body" ngbAccordionBody>
                              <p>We understand that you may have questions about our <br> mission, how donations are used,
                                & ways you can get.</p>
                            </div>
                          </div>
                        </div>
                        <div class="vl-accordion-item" ngbAccordionItem>
                          <h2 class="accordion-header" id="heading31" ngbAccordionHeader>
                            <button class="accordion-button" type="button" ngbAccordionButton
                              data-bs-toggle="collapse" data-bs-target="#collapse31" aria-expanded="false"
                              aria-controls="collapse31">
                              How are donations used?
                            </button>
                          </h2>
                          <div id="collapse31" class="accordion-collapse collapse" aria-labelledby="heading31"
                            ngbAccordionCollapse data-bs-parent="#accordionExample4">
                            <div class="accordion-body" ngbAccordionBody>
                              <p>We understand that you may have questions about our <br> mission, how donations are used,
                                & ways you can get.</p>
                            </div>
                          </div>
                        </div>
                        <div class="vl-accordion-item" ngbAccordionItem>
                          <h2 class="accordion-header" id="heading32" ngbAccordionHeader>
                            <button class="accordion-button" ngbAccordionButton type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse32" aria-expanded="false" aria-controls="collapse32">
                              Can I make a recurring monthly donation?
                            </button>
                          </h2>
                          <div id="collapse32" class="accordion-collapse collapse" ngbAccordionCollapse
                            aria-labelledby="heading32" data-bs-parent="#accordionExample4">
                            <div class="accordion-body" ngbAccordionBody>
                              <p>We understand that you may have questions about our <br> mission, how donations are used,
                                & ways you can get.</p>
                            </div>
                          </div>
                        </div>
                        <div class="vl-accordion-item" ngbAccordionItem>
                          <h2 class="accordion-header" id="heading33" ngbAccordionHeader>
                            <button class="accordion-button" type="button" ngbAccordionButton
                              data-bs-toggle="collapse" data-bs-target="#collapse33" aria-expanded="false"
                              aria-controls="collapse33">
                              You offer corporate partnership opportunities?
                            </button>
                          </h2>
                          <div id="collapse33" class="accordion-collapse collapse" ngbAccordionCollapse
                            aria-labelledby="heading33" data-bs-parent="#accordionExample4">
                            <div class="accordion-body" ngbAccordionBody>
                              <p>We understand that you may have questions about our <br> mission, how donations are used,
                                & ways you can get.</p>
                            </div>
                          </div>
                        </div>
                        <div class="vl-accordion-item" ngbAccordionItem>
                          <h2 class="accordion-header" id="heading34" ngbAccordionHeader>
                            <button class="accordion-button" type="button" ngbAccordionButton
                              data-bs-toggle="collapse" data-bs-target="#collapse34" aria-expanded="false"
                              aria-controls="collapse34">
                              Do you offer services for small businesses?
                            </button>
                          </h2>
                          <div id="collapse34" class="accordion-collapse collapse" aria-labelledby="heading34"
                            ngbAccordionCollapse data-bs-parent="#accordionExample4">
                            <div class="accordion-body" ngbAccordionBody>
                              <p>We understand that you may have questions about our <br> mission, how donations are used,
                                & ways you can get.</p>
                            </div>
                          </div>
                        </div>
                        <div class="vl-accordion-item" ngbAccordionItem>
                          <h2 class="accordion-header" id="heading35" ngbAccordionHeader>
                            <button class="accordion-button" type="button" ngbAccordionButton
                              data-bs-toggle="collapse" data-bs-target="#collapse35" aria-expanded="false"
                              aria-controls="collapse35">
                              Can I donate items instead of money?
                            </button>
                          </h2>
                          <div id="collapse35" class="accordion-collapse collapse" aria-labelledby="heading35"
                            ngbAccordionCollapse data-bs-parent="#accordionExample4">
                            <div class="accordion-body" ngbAccordionBody>
                              <p>We understand that you may have questions about our <br> mission, how donations are used,
                                & ways you can get.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="accordion" id="accordionExample5" ngbAccordion>
                        <div class="vl-accordion-item" ngbAccordionItem>
                          <h2 class="accordion-header" id="heading36" ngbAccordionHeader>
                            <button class="accordion-button" type="button" ngbAccordionButton
                              data-bs-toggle="collapse" data-bs-target="#collapse36" aria-expanded="false"
                              aria-controls="collapse36">
                              Is it possible to volunteer remotely?
                            </button>
                          </h2>
                          <div id="collapse36" class="accordion-collapse collapse" ngbAccordionCollapse
                            aria-labelledby="heading36" data-bs-parent="#accordionExample5">
                            <div class="accordion-body" ngbAccordionBody>
                              <p>We understand that you may have questions about our <br> mission, how donations are used,
                                & ways you can get.</p>
                            </div>
                          </div>
                        </div>
                        <div class="vl-accordion-item" ngbAccordionItem>
                          <h2 class="accordion-header" id="heading37" ngbAccordionHeader>
                            <button class="accordion-button" type="button" ngbAccordionHeader
                              data-bs-toggle="collapse" data-bs-target="#collapse37" aria-expanded="false"
                              aria-controls="collapse37">
                              Can I spread awareness about your mission?
                            </button>
                          </h2>
                          <div id="collapse37" class="accordion-collapse collapse" ngbAccordionCollapse
                            aria-labelledby="heading37" data-bs-parent="#accordionExample5">
                            <div class="accordion-body" ngbAccordionBody>
                              <p>We understand that you may have questions about our <br> mission, how donations are used,
                                & ways you can get.</p>
                            </div>
                          </div>
                        </div>
                        <div class="vl-accordion-item" ngbAccordionItem="">
                          <h2 class="accordion-header" id="heading38" ngbAccordionHeader>
                            <button class="accordion-button" type="button" ngbAccordionButton
                              data-bs-toggle="collapse" data-bs-target="#collapse38" aria-expanded="false"
                              aria-controls="collapse38">
                              You collaborate other charities or nonprofits?
                            </button>
                          </h2>
                          <div id="collapse38" class="accordion-collapse collapse" ngbAccordionCollapse
                            aria-labelledby="heading38" data-bs-parent="#accordionExample5">
                            <div class="accordion-body" ngbAccordionBody>
                              <p>We understand that you may have questions about our <br> mission, how donations are used,
                                & ways you can get.</p>
                            </div>
                          </div>
                        </div>
                        <div class="vl-accordion-item" ngbAccordionItem>
                          <h2 class="accordion-header" id="heading39" ngbAccordionHeader>
                            <button class="accordion-button" ngbAccordionButton type="button"
                              data-bs-toggle="collapse" data-bs-target="#collapse39" aria-expanded="false"
                              aria-controls="collapse39">
                              Are there options for legacy or planned giving?
                            </button>
                          </h2>
                          <div id="collapse39" ngbAccordionCollapse class="accordion-collapse collapse"
                            aria-labelledby="heading39" data-bs-parent="#accordionExample5">
                            <div class="accordion-body" ngbAccordionBody>
                              <p>We understand that you may have questions about our <br> mission, how donations are used,
                                & ways you can get.</p>
                            </div>
                          </div>
                        </div>
                        <div class="vl-accordion-item" ngbAccordionItem>
                          <h2 class="accordion-header" id="heading40" ngbAccordionHeader>
                            <button class="accordion-button" type="button" ngbAccordionButton
                              data-bs-toggle="collapse" data-bs-target="#collapse40" aria-expanded="false"
                              aria-controls="collapse40">
                              What types of events does the organization host?
                            </button>
                          </h2>
                          <div id="collapse40" class="accordion-collapse collapse" ngbAccordionCollapse
                            aria-labelledby="heading40" data-bs-parent="#accordionExample5">
                            <div class="accordion-body" ngbAccordionBody>
                              <p>We understand that you may have questions about our <br> mission, how donations are used,
                                & ways you can get.</p>
                            </div>
                          </div>
                        </div>
                        <div class="vl-accordion-item" ngbAccordionItem>
                          <h2 class="accordion-header" id="heading41" ngbAccordionHeader>
                            <button class="accordion-button" type="button" ngbAccordionButton
                              data-bs-toggle="collapse" data-bs-target="#collapse41" aria-expanded="false"
                              aria-controls="collapse41">
                              Are there options for legacy or planned giving?
                            </button>
                          </h2>
                          <div id="collapse41" class="accordion-collapse collapse" ngbAccordionCollapse
                            aria-labelledby="heading41" data-bs-parent="#accordionExample5">
                            <div class="accordion-body" ngbAccordionBody>
                              <p>We understand that you may have questions about our <br> mission, how donations are used,
                                & ways you can get.</p>
                            </div>
                          </div>
                        </div>
                        <div class="vl-accordion-item" ngbAccordionItem>
                          <h2 class="accordion-header" id="heading42" ngbAccordionHeader>
                            <button class="accordion-button" type="button" ngbAccordionButton
                              data-bs-toggle="collapse" data-bs-target="#collapse42" aria-expanded="false"
                              aria-controls="collapse42">
                              How do I sponsor a specific project or campaign?
                            </button>
                          </h2>
                          <div id="collapse42" class="accordion-collapse collapse" ngbAccordionCollapse
                            aria-labelledby="heading42" data-bs-parent="#accordionExample5">
                            <div class="accordion-body" ngbAccordionBody>
                              <p>We understand that you may have questions about our <br> mission, how donations are used,
                                & ways you can get.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
            </li>
            <li class="nav-item" ngbNavItem role="presentation">
              <button class="nav-link" ngbNavLink id="pills-contact-tab" data-bs-toggle="pill"
                data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                aria-selected="false">Finance</button>
                <ng-template ngbNavContent>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="accordion" ngbAccordion id="accordionExample4" [closeOthers]="true">
                        <div class="vl-accordion-item" ngbAccordionItem>
                          <h2 class="accordion-header" id="heading29" ngbAccordionHeader>
                            <button class="accordion-button" type="button" ngbAccordionButton data-bs-toggle="collapse"
                              data-bs-target="#collapse29" aria-expanded="true" aria-controls="collapse29">
                              How can I volunteer with your organization?
                            </button>
                          </h2>
                          <div id="collapse29" class="accordion-collapse collapse show" ngbAccordionCollapse
                            aria-labelledby="heading29" data-bs-parent="#accordionExample4">
                            <div class="accordion-body" ngbAccordionBody>
                              <p>We understand that you may have questions about our <br> mission, how donations are used,
                                & ways you can get.</p>
                            </div>
                          </div>
                        </div>
                        <div class="vl-accordion-item" ngbAccordionItem>
                          <h2 class="accordion-header" id="heading30" ngbAccordionHeader>
                            <button class="accordion-button" ngbAccordionButton
                              data-bs-toggle="collapse" data-bs-target="#collapse30" aria-expanded="false"
                              aria-controls="collapse30">
                              Is my donation tax-deductible?
                            </button>
                          </h2>
                          <div id="collapse30" class="accordion-collapse collapse" ngbAccordionCollapse
                            aria-labelledby="heading30" data-bs-parent="#accordionExample4">
                            <div class="accordion-body" ngbAccordionBody>
                              <p>We understand that you may have questions about our <br> mission, how donations are used,
                                & ways you can get.</p>
                            </div>
                          </div>
                        </div>
                        <div class="vl-accordion-item" ngbAccordionItem>
                          <h2 class="accordion-header" id="heading31" ngbAccordionHeader>
                            <button class="accordion-button" type="button" ngbAccordionButton
                              data-bs-toggle="collapse" data-bs-target="#collapse31" aria-expanded="false"
                              aria-controls="collapse31">
                              How are donations used?
                            </button>
                          </h2>
                          <div id="collapse31" class="accordion-collapse collapse" aria-labelledby="heading31"
                            ngbAccordionCollapse data-bs-parent="#accordionExample4">
                            <div class="accordion-body" ngbAccordionBody>
                              <p>We understand that you may have questions about our <br> mission, how donations are used,
                                & ways you can get.</p>
                            </div>
                          </div>
                        </div>
                        <div class="vl-accordion-item" ngbAccordionItem>
                          <h2 class="accordion-header" id="heading32" ngbAccordionHeader>
                            <button class="accordion-button" ngbAccordionButton type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapse32" aria-expanded="false" aria-controls="collapse32">
                              Can I make a recurring monthly donation?
                            </button>
                          </h2>
                          <div id="collapse32" class="accordion-collapse collapse" ngbAccordionCollapse
                            aria-labelledby="heading32" data-bs-parent="#accordionExample4">
                            <div class="accordion-body" ngbAccordionBody>
                              <p>We understand that you may have questions about our <br> mission, how donations are used,
                                & ways you can get.</p>
                            </div>
                          </div>
                        </div>
                        <div class="vl-accordion-item" ngbAccordionItem>
                          <h2 class="accordion-header" id="heading33" ngbAccordionHeader>
                            <button class="accordion-button" type="button" ngbAccordionButton
                              data-bs-toggle="collapse" data-bs-target="#collapse33" aria-expanded="false"
                              aria-controls="collapse33">
                              You offer corporate partnership opportunities?
                            </button>
                          </h2>
                          <div id="collapse33" class="accordion-collapse collapse" ngbAccordionCollapse
                            aria-labelledby="heading33" data-bs-parent="#accordionExample4">
                            <div class="accordion-body" ngbAccordionBody>
                              <p>We understand that you may have questions about our <br> mission, how donations are used,
                                & ways you can get.</p>
                            </div>
                          </div>
                        </div>
                        <div class="vl-accordion-item" ngbAccordionItem>
                          <h2 class="accordion-header" id="heading34" ngbAccordionHeader>
                            <button class="accordion-button" type="button" ngbAccordionButton
                              data-bs-toggle="collapse" data-bs-target="#collapse34" aria-expanded="false"
                              aria-controls="collapse34">
                              Do you offer services for small businesses?
                            </button>
                          </h2>
                          <div id="collapse34" class="accordion-collapse collapse" aria-labelledby="heading34"
                            ngbAccordionCollapse data-bs-parent="#accordionExample4">
                            <div class="accordion-body" ngbAccordionBody>
                              <p>We understand that you may have questions about our <br> mission, how donations are used,
                                & ways you can get.</p>
                            </div>
                          </div>
                        </div>
                        <div class="vl-accordion-item" ngbAccordionItem>
                          <h2 class="accordion-header" id="heading35" ngbAccordionHeader>
                            <button class="accordion-button" type="button" ngbAccordionButton
                              data-bs-toggle="collapse" data-bs-target="#collapse35" aria-expanded="false"
                              aria-controls="collapse35">
                              Can I donate items instead of money?
                            </button>
                          </h2>
                          <div id="collapse35" class="accordion-collapse collapse" aria-labelledby="heading35"
                            ngbAccordionCollapse data-bs-parent="#accordionExample4">
                            <div class="accordion-body" ngbAccordionBody>
                              <p>We understand that you may have questions about our <br> mission, how donations are used,
                                & ways you can get.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="accordion" id="accordionExample5" ngbAccordion>
                        <div class="vl-accordion-item" ngbAccordionItem>
                          <h2 class="accordion-header" id="heading36" ngbAccordionHeader>
                            <button class="accordion-button" type="button" ngbAccordionButton
                              data-bs-toggle="collapse" data-bs-target="#collapse36" aria-expanded="false"
                              aria-controls="collapse36">
                              Is it possible to volunteer remotely?
                            </button>
                          </h2>
                          <div id="collapse36" class="accordion-collapse collapse" ngbAccordionCollapse
                            aria-labelledby="heading36" data-bs-parent="#accordionExample5">
                            <div class="accordion-body" ngbAccordionBody>
                              <p>We understand that you may have questions about our <br> mission, how donations are used,
                                & ways you can get.</p>
                            </div>
                          </div>
                        </div>
                        <div class="vl-accordion-item" ngbAccordionItem>
                          <h2 class="accordion-header" id="heading37" ngbAccordionHeader>
                            <button class="accordion-button" type="button" ngbAccordionHeader
                              data-bs-toggle="collapse" data-bs-target="#collapse37" aria-expanded="false"
                              aria-controls="collapse37">
                              Can I spread awareness about your mission?
                            </button>
                          </h2>
                          <div id="collapse37" class="accordion-collapse collapse" ngbAccordionCollapse
                            aria-labelledby="heading37" data-bs-parent="#accordionExample5">
                            <div class="accordion-body" ngbAccordionBody>
                              <p>We understand that you may have questions about our <br> mission, how donations are used,
                                & ways you can get.</p>
                            </div>
                          </div>
                        </div>
                        <div class="vl-accordion-item" ngbAccordionItem="">
                          <h2 class="accordion-header" id="heading38" ngbAccordionHeader>
                            <button class="accordion-button" type="button" ngbAccordionButton
                              data-bs-toggle="collapse" data-bs-target="#collapse38" aria-expanded="false"
                              aria-controls="collapse38">
                              You collaborate other charities or nonprofits?
                            </button>
                          </h2>
                          <div id="collapse38" class="accordion-collapse collapse" ngbAccordionCollapse
                            aria-labelledby="heading38" data-bs-parent="#accordionExample5">
                            <div class="accordion-body" ngbAccordionBody>
                              <p>We understand that you may have questions about our <br> mission, how donations are used,
                                & ways you can get.</p>
                            </div>
                          </div>
                        </div>
                        <div class="vl-accordion-item" ngbAccordionItem>
                          <h2 class="accordion-header" id="heading39" ngbAccordionHeader>
                            <button class="accordion-button" ngbAccordionButton type="button"
                              data-bs-toggle="collapse" data-bs-target="#collapse39" aria-expanded="false"
                              aria-controls="collapse39">
                              Are there options for legacy or planned giving?
                            </button>
                          </h2>
                          <div id="collapse39" ngbAccordionCollapse class="accordion-collapse collapse"
                            aria-labelledby="heading39" data-bs-parent="#accordionExample5">
                            <div class="accordion-body" ngbAccordionBody>
                              <p>We understand that you may have questions about our <br> mission, how donations are used,
                                & ways you can get.</p>
                            </div>
                          </div>
                        </div>
                        <div class="vl-accordion-item" ngbAccordionItem>
                          <h2 class="accordion-header" id="heading40" ngbAccordionHeader>
                            <button class="accordion-button" type="button" ngbAccordionButton
                              data-bs-toggle="collapse" data-bs-target="#collapse40" aria-expanded="false"
                              aria-controls="collapse40">
                              What types of events does the organization host?
                            </button>
                          </h2>
                          <div id="collapse40" class="accordion-collapse collapse" ngbAccordionCollapse
                            aria-labelledby="heading40" data-bs-parent="#accordionExample5">
                            <div class="accordion-body" ngbAccordionBody>
                              <p>We understand that you may have questions about our <br> mission, how donations are used,
                                & ways you can get.</p>
                            </div>
                          </div>
                        </div>
                        <div class="vl-accordion-item" ngbAccordionItem>
                          <h2 class="accordion-header" id="heading41" ngbAccordionHeader>
                            <button class="accordion-button" type="button" ngbAccordionButton
                              data-bs-toggle="collapse" data-bs-target="#collapse41" aria-expanded="false"
                              aria-controls="collapse41">
                              Are there options for legacy or planned giving?
                            </button>
                          </h2>
                          <div id="collapse41" class="accordion-collapse collapse" ngbAccordionCollapse
                            aria-labelledby="heading41" data-bs-parent="#accordionExample5">
                            <div class="accordion-body" ngbAccordionBody>
                              <p>We understand that you may have questions about our <br> mission, how donations are used,
                                & ways you can get.</p>
                            </div>
                          </div>
                        </div>
                        <div class="vl-accordion-item" ngbAccordionItem>
                          <h2 class="accordion-header" id="heading42" ngbAccordionHeader>
                            <button class="accordion-button" type="button" ngbAccordionButton
                              data-bs-toggle="collapse" data-bs-target="#collapse42" aria-expanded="false"
                              aria-controls="collapse42">
                              How do I sponsor a specific project or campaign?
                            </button>
                          </h2>
                          <div id="collapse42" class="accordion-collapse collapse" ngbAccordionCollapse
                            aria-labelledby="heading42" data-bs-parent="#accordionExample5">
                            <div class="accordion-body" ngbAccordionBody>
                              <p>We understand that you may have questions about our <br> mission, how donations are used,
                                & ways you can get.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="vl-faq-accordion">
          <div class="row">
            <div class="tab-content" [ngbNavOutlet]="nav" id="pills-tabContent">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>