<footer class="vl-footer-bg-1 vl-footer-bg-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="vl-footer-widget-1 mb-30">
            <div class="vl-footer-logo">
              <a routerLink="/index-3"><img src="assets/img/logo/vl-footer-logo-1.1.png" alt=""></a>
            </div>
            <div class="vl-footer-content">
              <p>Now the time act because every second counts, and contribution brings one step closer a brighter future
                Join us today & difference.</p>
            </div>
            <div class="vl-footer-social-1">
              <ul>
                <li><a href="javascript:void(0);"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="javascript:void(0);"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="javascript:void(0);"><i class="fa-brands fa-github"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="vl-footer-widget-2 pl-90 mb-30">
            <h3 class="title">Quick Links</h3>
            <div class="vl-footer-menu">
              <ul>
                <li><a routerLink="/index-3">Home Page</a></li>
                <li><a routerLink="/about">About Us</a></li>
                <li><a routerLink="/contact">Appointment</a></li>
                <li><a routerLink="/blog">News & Blog</a></li>
                <li><a href="javascript:void(0);">Testimonials</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="vl-footer-widget-2 pl-30 mb-30">
            <h3 class="title">Our services</h3>
            <div class="vl-footer-menu">
              <ul>
                <li><a href="javascript:void(0);">Donation Online</a></li>
                <li><a href="javascript:void(0);">Donor Centres</a></li>
                <li><a routerLink="/volunteers">Volunteering</a></li>
                <li><a href="javascript:void(0);">Your Philanthropy</a></li>
                <li><a href="javascript:void(0);">Senior Care</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="vl-footer-widget-4 mb-30">
            <h3 class="title">Subscribe Newsletter</h3>
            <div class="newsletter-form">
              <form action="#">
                <input type="email" placeholder="Enter Your Email">
              </form>
              <button class="form-btn">Subscribe</button>
            </div>
          </div>
        </div>
      </div>

      <div class="vl-copyright">
        <div class="row">
          <div class="col-md-6">
            <p class="vl-copyright-text">© 2025 Helpy ,Inc. All Rights Reserved.</p>
          </div>
          <div class="col-md-6">
            <div class="vl-copyright-menu">
              <ul>
                <li><a href="javascript:void(0);">Privacy Policy </a></li>
                <li><a href="javascript:void(0);">Terms & Conditions</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>