<ngx-slick-carousel class="baner4-active" [config]="slickCarousel" style="background-image: url(./assets/img/banner/vl-home-bg-4.png);">
    <!-- single slide item -->
    <div ngxSlickItem class="vl-banner4">
      <div class="shape2"><img src="assets/img/icons/vl-home-arrow-4.2.svg" alt=""></div>
      <div class="shape3"><img src="assets/img/shape/hand-shape4.1.png" alt=""></div>
      <div class="shape"><img src="assets/img/icons/vl-home-arrow-4.1.svg" alt=""></div>
      
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="banner-content">
              <h4 class="subtitle"> <span><img src="assets/img/icons/vl-white-hand4.1.svg" alt=""></span> Senior Citizen Celebrating the Among Us</h4>
              <h1 class="title">Inspiring Acts <br> Of Kindness <br> And Service</h1>
              <p class="para pb-32">In times when the world feels uncertain, inspiring <br> acts of kindness and service shine as powerful.</p>
              <!-- btn area -->
              <div class="btn-flex-area">
                <div class="btn-area4">
                  <a routerLink="/contact" class="header-btn1">Spread Kindness <span><i class="fa-solid fa-arrow-right"></i></span></a>
                </div>
                <div class="vl-video-play">
                   <a href="https://www.youtube.com/watch?v=HkYGxh1XUGQ" class="video-play-button video popup-video" tabindex="-1">
                    <span></span>
                  </a>
                  <div class="video-text">
                    <h6 class="vtitle video"><a class="vtitle video popup-video" href="https://www.youtube.com/watch?v=HkYGxh1XUGQ">How We Work</a></h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
              <div class="vl-banner-thumb">
                <img class="w-100" src="assets/img/banner/vl-home-thumb-4.11.png" alt="">
              </div>
          </div>
        </div>
      </div>
    </div>
 
   <!-- single slide item -->
   <div ngxSlickItem class="vl-banner4">
    <div class="shape2"><img src="assets/img/icons/vl-home-arrow-4.2.svg" alt=""></div>
    <div class="shape3"><img src="assets/img/shape/hand-shape4.1.png" alt=""></div>
    <div class="shape"><img src="assets/img/icons/vl-home-arrow-4.1.svg" alt=""></div>
    
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="banner-content">
            <h4 class="subtitle">  <span><img src="assets/img/icons/vl-white-hand4.1.svg" alt=""></span>Senior Citizen Celebrating the Among Us</h4>
            <h1 class="title text-anime-style-3">Inspiring Acts <br> Of Kindness <br> And Service</h1>
          <p class="para pb-32">In times when the world feels uncertain, inspiring <br> acts of kindness and service shine as powerful.</p>
            <!-- btn area -->
            <div class="btn-flex-area">
              <div class="btn-area4">
                <a routerLink="/contact" class="header-btn1">Spread Kindness <span><i class="fa-solid fa-arrow-right"></i></span></a>
              </div>
              <div class="vl-video-play">
                <a href="https://www.youtube.com/watch?v=HkYGxh1XUGQ" class="video-play-button video popup-video" tabindex="-1">
                  <span></span>
                </a>
                <div class="video-text">
                  <h6 class="vtitle video"><a class="vtitle video popup-video" href="https://www.youtube.com/watch?v=HkYGxh1XUGQ">How We Work</a></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
            <div class="vl-banner-thumb">
              <img class="w-100" src="assets/img/banner/vl-home-thumb-4.11.png" alt="">
            </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- single slide item -->
  <div ngxSlickItem class="vl-banner4">
    <div class="shape2"><img src="assets/img/icons/vl-home-arrow-4.2.svg" alt=""></div>
    <div class="shape3"><img src="assets/img/shape/hand-shape4.1.png" alt=""></div>
    <div class="shape"><img src="assets/img/icons/vl-home-arrow-4.1.svg" alt=""></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="banner-content">
            <h4 class="subtitle">  <span><img src="assets/img/icons/vl-white-hand4.1.svg" alt=""></span>Senior Citizen Celebrating the Among Us</h4>
            <h1 class="title text-anime-style-3">Inspiring Acts <br> Of Kindness <br> And Service</h1>
            <p class="para pb-32">In times when the world feels uncertain, inspiring <br> acts of kindness and service shine as powerful.</p>
          
            <!-- btn area -->
            <div class="btn-flex-area">
              <div class="btn-area4">
                <a routerLink="/contact" class="header-btn1">Spread Kindness <span><i class="fa-solid fa-arrow-right"></i></span></a>
              </div>
              <div class="vl-video-play">
                <a href="https://www.youtube.com/watch?v=HkYGxh1XUGQ" class="video-play-button video popup-video" tabindex="-1">
                  <span></span>
                </a>
                <div class="video-text">
                  <h6 class="vtitle video"><a class="vtitle video popup-video" href="https://www.youtube.com/watch?v=HkYGxh1XUGQ">How We Work</a></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
            <div class="vl-banner-thumb">
              <img class="w-100" src="assets/img/banner/vl-home-thumb-4.11.png" alt="">
            </div>
        </div>
      </div>
    </div>
  </div>
</ngx-slick-carousel>