:host { display: block; }

.home-hero {
  padding: 60px 0;
}

.home-sec {
  background-color: gray;

  // .subtitle {
  //   // background-color: #f0fbfd !important;
  //   background-color: #f0fbfd !important;
  //   // color: #6cdae7 !important;
  //   color: #56aeb9 !important;
  // }

  // .btn-priamry1 {
  //   background-color: #fbd459 !important;

  // }
}