<section class="vl-banner5 home-sec">
  <!-- shape -->
  <div class="shape shape-1">
    <img
      class="aniamtion-key-2"
      ngSrc="assets/img/shape/vl-shape-5.2.png"
      width="120"
      height="120"
      alt=""
    />
  </div>
  <div class="shape shape-2">
    <img
      class="aniamtion-key-1"
      ngSrc="assets/img/shape/vl-home-arrow-5.1.svg"
      width="120"
      height="120"
      alt=""
    />
  </div>
  <div class="shape shape-3">
    <img
      class="aniamtion-key-1"
      ngSrc="assets/img/shape/vl-home-shape-5.3.svg"
      width="120"
      height="120"
      alt=""
    />
  </div>
  <div class="shape shape-4">
    <img
      class="aniamtion-key-1"
      ngSrc="assets/img/shape/vl-home-shape-5.4.svg"
      width="120"
      height="120"
      alt=""
    />
  </div>
  <div class="shape shape-5">
    <img
      ngSrc="assets/img/shape/vl-hero-shape-arrow-5.svg"
      width="120"
      height="120"
      alt=""
    />
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-title">
          <h4
            class="subtitle"
            data-aos="fade-right"
            data-aos-duration="1200"
            data-aos-delay="300"
          >
            <span
              ><img
                ngSrc="assets/img/icons/vl-charity5.1.svg"
                width="24"
                height="24"
                alt=""
            /></span>
            Defending Human Rights Everywhere
          </h4>
          <h1 class="title text-anime-style-3">
            Human Rights for <br />
            All, Building A Fairer World
          </h1>
          <p
            class="para pb-32"
            data-aos="fade-right"
            data-aos-duration="1200"
            data-aos-delay="300"
          >
            Our commitment to human rights advocacy is rooted in <br />
            the belief every individual deserves to live with dignity.
          </p>
          <!-- btn -->
          <div
            class="btn5"
            data-aos="fade-right"
            data-aos-duration="1200"
            data-aos-delay="300"
          >
            <a routerLink="/contact" class="btn-priamry1"
              >Support Human Rights
              <span><i class="fa-solid fa-arrow-right"></i></span
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="vl-banner-thumb reveal" appGsapReveal>
          <img
            ngSrc="assets/img/banner/kku-banner3.png"
            width="700"
            height="700"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
