<app-breadcrumb
  [backgroundImage]="'assets/img/breadcrumb/vl-contact-bg.png'"
  [shape1]="'assets/img/breadcrumb/breadcrumb-shape-1.1.png'"
  [shape2]="'assets/img/breadcrumb/breadcrumb-shape-1.2.png'"
  [shape3]="'assets/img/breadcrumb/breadcrumb-shape-1.3.png'"
  [pageTitle]="'Contact Us'">
</app-breadcrumb>

<!--===== CONTACT AREA STARTS =======-->
<section class="vl-contact-section-inner sp2">
  <div class="container">
    <div class="row flex-lg-row flex-column-reverse">
      <div class="col-lg-6 mb-30">
        <div class="vl-maps">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d423284.04421055503!2d-118.74139674995793!3d34.020608447020685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2sLos%20Angeles%2C%20CA%2C%20USA!5e0!3m2!1sen!2sbd!4v1734253501055!5m2!1sen!2sbd"  allowfullscreen="" class="vl-contact-maps"></iframe>
        </div>
      </div>
      <div class="col-lg-6 mb-30">
        <div class="vl-section-content ml-50">
          <div class="section-title">
            <h4 class="subtitle">Contact Us</h4>
            <h2 class="title">Reach Together, We Can Make a Difference</h2>
            <p class="para pb-32">We’re here to answer questions, provide information about our <br> work, and help you find ways to get involved whetherinterested.</p>
          </div>

          <!-- form start -->
           <div class="vl-form-inner">
            <form action="#">
              <div class="row">
                <div class="col-lg-6">
                  <input type="text" placeholder="First Name*"> 
                </div>
                <div class="col-lg-6">
                  <input type="text" placeholder="Last Name*"> 
                </div>
                <div class="col-lg-6">
                  <input type="email" placeholder="Email Address*"> 
                </div>
                <div class="col-lg-6">
                  <input type="number" placeholder="Amount; $*"> 
                </div>
                <div class="col-lg-12">
                  <select class="nice-select wide vl-select">
                    <option data-display="Donation To">Nothing</option>
                    <option value="1">Health and Medical Support</option>
                    <option value="2">Education and Training</option>
                    <option value="3">Relief and Aid Services</option>
                    <option value="4">Community Development</option>
                    <option value="5">Environmental Conservation</option>
                  </select>
              </div>
              <div class="col-lg-12">
                <textarea name="message" id="message" placeholder="How can we help you?*"></textarea>
              </div>
              <div class="col-lg-12">
                <div class="btn-area">
                  <button class="header-btn1">Send Now <span><i class="fa-solid fa-arrow-right"></i></span></button>
                </div>
              </div>
              </div>
            </form>
            
           </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--===== CONTACT AREA ENDS =======-->

<!--===== Icon AREA STARTS =======-->
<section class="vl-icon-box-inner pb-70">
  <div class="container">
    <div class="row">
      <!-- icon box -->
      <div class="col-lg-4 col-md-6 mb-30">
        <div class="iconbox">
          <div class="icon-box-flex">
            <div class="icon">
              <span><img src="assets/img/icons/vl-phone-icon1.1.svg" alt=""></span>
            </div>
            <div class="icon-content">
              <p class="para">24/7 Service</p>
              <h3 class="title">Call Us Today</h3>
            </div>
          </div>
          <div class="contact-number">
            <a href="tel:+00123456789" class="para">+00 123 456 789 </a> <br>
            <a href="tel:+00987654321" class="para">+00 987 654 321</a>
          </div>
        </div>
      </div>
      <!-- icon box -->
      <div class="col-lg-4 col-md-6 mb-30">
        <div class="iconbox active">
          <div class="icon-box-flex">
            <div class="icon">
              <span><img src="assets/img/icons/vl-phone-icon1.2.svg" alt=""></span>
            </div>
            <div class="icon-content">
              <p class="para">Drop Line</p>
              <h3 class="title">Mail Information</h3>
            </div>
          </div>
          <div class="contact-number">
            <a href="mailto:office@kelechiugoh.com" class="para">office@kelechiugoh.com</a>
          </div>
        </div>
      </div>

      <!-- icon box -->
      <div class="col-lg-4 col-md-6 mb-30">
        <div class="iconbox">
          <div class="icon-box-flex">
            <div class="icon">
              <span><img src="assets/img/icons/vl-phone-icon1.3.svg" alt=""></span>
            </div>
            <div class="icon-content">
              <p class="para">Address</p>
              <h3 class="title">Our Location</h3>
            </div>
          </div>
          <div class="contact-number">
            <a href="javascript:void(0);" class="para">8708 Technology Forest Pl Suite <br> 125 -G, The Woodlands, TX 77381 </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--===== Icon AREA ENDS =======-->