<section class="vl-cta2 sp1">
    <div class="shape shape-1"><img src="assets/img/icons/vl-cta-icon-2.2.svg" alt=""></div>
    <div class="shape shape-2"><img src="assets/img/icons/vl-cta-icon-2.3.svg" alt=""></div>
    <div class="shape shape-3"><img src="assets/img/icons/vl-cta-icon-2.3.svg" alt=""></div>
    <div class="shape shape-4"><img src="assets/img/icons/vl-cta-icon-2.3.svg" alt=""></div>
    <div class="shape shape-5"><img src="assets/img/icons/vl-cta-icon-2.3.svg" alt=""></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <div class="vl-section-title-3 text-center">
            <h4 class="subtitle" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="300">Let's Care For Each Other</h4>
            <h2 class="title text-anime-style-3">Contact Us If You Find Abandoned Animals</h2>
            <p data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="300">By reaching out, you’re taking a step toward making a difference in the lives of animals in need. Don’t <br> hesitate to contact us together, we can create a better world for animals, one rescue at a time.</p>
          
            <!-- btn -->
            <div class="vl-about-btn" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="300">
              <a href="tel:1234567890" class="btn-primary2"> <span><img src="assets/img/icons/vl-cta-ph-2.1.svg" alt=""></span> +123-456-7890</a>
           </div>
          </div>
        </div>
      </div>
    </div>
  </section>