<section class="vl-about5 sp2">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="vl-about-content">
          <div class="vl-section-title5 mb-40">
            <h5
              class="subtitle"
              data-aos="fade-right"
              data-aos-duration="1000"
              data-aos-delay="300"
            >
              About Us
            </h5>
            <h2 class="title text-anime-style-3">
              Our Journey: Protecting Human Rights for All
            </h2>
            <p
              class="para"
              data-aos="fade-right"
              data-aos-duration="1000"
              data-aos-delay="300"
            >
              We are a dedicated group of advocates, partners, allies committed
              <br />
              to protecting and promoting human rights for all. Our mission is
              to <br />
              stand up for those whose voices often go unheard, defend.
            </p>
          </div>

          <!-- single thumbnail -->
          <div class="vl-sm-thumb mb-30 reveal" appGsapReveal>
            <img
              class="w-100"
              ngSrc="assets/img/about/vl-about-thumb-sm-5.1.png"
              width="400"
              height="300"
              alt=""
            />
          </div>

          <!-- single thumbnail -->
          <div class="vl-sm-thumb2 mb-30 reveal" appGsapReveal>
            <img
              class="w-100"
              ngSrc="assets/img/about/vl-about-thumb-sm-5.2.png"
              width="400"
              height="300"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="vl-about-content2 ml-20 reveal" appGsapReveal>
          <!-- thumbnail -->
          <div class="large-thumb mb-30">
            <img
              class="w-100"
              ngSrc="assets/img/about/vl-about-thumb-large-5.3.png"
              width="600"
              height="450"
              alt=""
            />
          </div>
          <!-- content -->
          <div class="content mb-30">
            <p
              class="para"
              data-aos="fade-left"
              data-aos-duration="900"
              data-aos-delay="300"
            >
              Through advocacy, education, and community empowerment, we work to
              create a world where every individual can live with dignity,
              equality, and freedom from policy reform mobilization.
            </p>

            <!-- icon list -->
            <div
              class="icon-list-box"
              data-aos="fade-left"
              data-aos-duration="1000"
              data-aos-delay="300"
            >
              <ul>
                <li>
                  <span><i class="fa-solid fa-check"></i></span>Join Our Mission
                  to Make a Difference
                </li>
                <li>
                  <span><i class="fa-solid fa-check"></i></span>Transforming
                  Lives and Communities
                </li>
                <li>
                  <span><i class="fa-solid fa-check"></i></span>Standing Up for
                  Human Rights
                </li>
              </ul>
            </div>

            <!-- btn -->
            <div
              class="btn5"
              data-aos="fade-left"
              data-aos-duration="1100"
              data-aos-delay="300"
            >
              <a routerLink="/about" class="btn-priamry1"
                >Stand with Us
                <span><i class="fa-solid fa-arrow-right"></i></span
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
