@use '../../utils/' as * ;

/*============= COUNTER CSS AREA ===============*/
.vl-counter5{
    position: relative;
    z-index: 1;
    overflow:hidden;
    background: var(--ztc-text-text-6);
    & .shape{
        position: absolute;
        z-index: -1;
        &.shape-1{
            top:0;
            left:0;
        }
        &.shape-2{
            bottom:0;
            left: 30px;
        }
        &.shape-3{
            top:20px;
            left: 33%;
        }
        &.shape-4{
            bottom:20px;
            right: 0;
        }
    }
    & .vl-counter-content{
        margin-right: 110px;
        @media #{$md,$xs}{
            margin-right:0px;
        }
        & .vl-section-title5{
            & .subtitle{
                background: rgba(255, 255, 255, 0.10);
                color:var(--ztc-text-text-1);
            }
            & .title{
                color:var(--ztc-text-text-1);
                line-height: var(--ztc-specing-height52);
            }
            & .para{
                color: rgba(255, 255, 255, 0.80);
            }
            & .btn5{
                & .btn-priamry1{
                    background: var(--ztc-text-text-1);
                    color:var(--ztc-text-text-3);
                    margin-top: 32px;
                    transition: .3s;
                    &:hover{
                        color:var(--ztc-text-text-1);
                        transition: .3s;
                    }
                    & span{
                        background:var(--ztc-text-text-6);
                        color: var(--ztc-text-text-1);
                    }
                }
            }
        }
    }
    & .single-counter-box{
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.20);
        text-align: center;
        padding:32px;
        transition: .3s;
        margin-bottom: 20px;
        & .title{
            color:var(--ztc-text-text-1);
            font-size: var(--ztc-font-size-font-s44);
            line-height: var(--ztc-specing-height44);
            font-family: var(--ztc-family-font2);
            font-weight: var(--ztc-weight-bold);
            transition: .3s;
        }
        & span{
            color: rgba(255, 255, 255, 0.80);
            font-size: var(--ztc-font-size-font-s20);
            line-height: var(--ztc-specing-height20);
            font-family: var(--ztc-family-font2);
            font-weight: var(--ztc-weight-bold);
            display:inline-block;
            transition: .3s;
        }
        &.active{
            background: var(--ztc-text-text-1);
            transition: .3s;
            & .title{
                color:var(--ztc-text-text-3);
                transition: .3s;
            }
            & span{
                color: var(--ztc-text-text-2);
                transition: .3s;
            }
        }
        &.counter-box-2{
            background: var(--ztc-text-text-1);
            & .title{
                color:var(--ztc-text-text-3);
            }
            & span{
                color: var(--ztc-text-text-2);
            }
            &.active{
                background: var(--ztc-text-text-4);
                transition: .3s;
            }
        }
    }

}

/*============= COUNTER CSS AREA ENDS===============*/