@use '../../utils/' as * ;

/*============= GALLLERY CSS AREA ===============*/
.vl-gallery-content {
    display: flex;
    justify-content: space-between;
    align-items: anchor-center;
    @media #{$md,$xs}{
        display: block;
    }
}

.vl-gallery-btn.text-end {
    @media #{$md,$xs} {
        text-align: start !important;
        margin-top: 15px;
   }
}

.vl-single{
    &-box {
        overflow: hidden;
        border-radius: 8px;
        position: relative;
        transition: .3s;
        &::after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            height: 100%;
            width: 0%;
            background: #181713;
            opacity: .7;
            transition: .6s;
        }
        &:hover{
            .search-ic span{
                top: 50%;
                transition: .6s;
                opacity: 1;
                visibility: visible;
            }
            &::after {
                width: 100%;
                transition: .6s;
            }
            & img{
                transform: scale(1.1);
                transition: .3s;
            }
        }
        & img {
            height: 370px;
            object-fit: cover;
            transition: .3s;
            border-radius: 8px;
        }
        .search-ic span {
            height: 70px;
            width: 70px;
            display: inline-block;
            background: var(--ztc-text-text-4);
            line-height: 70px;
            text-align: center;
            font-size: 32px;
            border-radius: 50px;
            position: absolute;
            top: 70%;
            left: 0;
            right: 0;
            margin: 0 auto;
            transform: translateY(-50%);
            color: var(--ztc-text-text-3);
            z-index: 1;
            transition: .6s;
            opacity: 0;
            visibility: visible;
            & img{
                height: 36px;
            }
        }
    }
}



// Gallery Home-3

.vl-gallery3{
    
    & .vl-section-title3{
        & .title{
            font-size: var(--ztc-font-size-font-s44);
            line-height: var(--ztc-specing-height54);
            padding-top: 16px;
            padding-bottom: 0px;
            @media #{$xs}{
                font-size: var(--ztc-font-size-font-s30);
                line-height: var(--ztc-specing-height40);
            }
        }
    }
    & .vl-gallery-sm-thumb{
        border-radius: 8px;
        overflow: hidden;
        & img{
            height: 300px;
            object-fit: cover;
        }
    }
    & .vl-gallery-large-thumb{
        margin-top:60px;
        border-radius: 8px;
        overflow: hidden;
        & img{
            height: 416px;
            object-fit: cover;
            border-radius: 8px;
        }
    }
}

/*============= GALLERY CSS AREA ENDS ===============*/