<section class="vl-blog4 sp2">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 mx-auto">
          <div class="vl-section-title4 text-center mb-60">
            <h5 class="subtitle" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">Latest News & Blog</h5>
            <h2 class="title text-anime-style-3">Stories of Resilience & Wisdom</h2>
            <p class="para">Join us for unforgettable celebration honoring invaluable contributions <br> of our senior citizens, those who have shaped our communities.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="single-blog mb-30">
            <div class="blog-thumb">
              <img class="w-100" src="assets/img/blog/vl-blog-4.1.png" alt="">
            </div>
            <div class="blog-content">
  
              <!-- meta box -->
              <div class="meta-flex">
                <div class="single-meta-box">
                  <div class="icon">
                    <span><img src="assets/img/icons/vl-calender-wh-4.1.svg" alt=""></span>
                  </div>
                  <a href="javascript:void(0);" class="para">16 October 2025</a>
                </div>
  
                <div class="single-meta-box">
                  <div class="icon">
                    <span><img src="assets/img/icons/vl-user-wh-4.2.svg" alt=""></span>
                  </div>
                  <a href="javascript:void(0);" class="para">Dawid Malan</a>
                </div>
              </div>
              <!-- content -->
               <div class="content">
                <a routerLink="/blog-single" class="title">Empowering Aging How Seniors Continue <br> to Make a Difference</a>
                <a routerLink="/blog-single" class="readmore">Read More <span><i class="fa-solid fa-arrow-right"></i></span></a>
               </div>
            </div>
          </div>
        </div>
  
        <div class="col-lg-6">
          <div class="vl-single-blog-item4 mb-30" data-aos="zoom-in-up" data-aos-duration="1200" data-aos-delay="300">
            <!-- meta box -->
            <div class="meta-flex">
              <div class="single-meta-box">
                <div class="icon">
                  <span><img src="assets/img/icons/vl-calender-blck4.1.svg" alt=""></span>
                </div>
                <a href="javascript:void(0);" class="para">16 October 2025</a>
              </div>
  
              <div class="single-meta-box">
                <div class="icon">
                  <span><img src="assets/img/icons/vl-user-blck4.2.svg" alt=""></span>
                </div>
                <a href="javascript:void(0);" class="para">Dawid Malan</a>
              </div>
            </div>
            <!-- content -->
             <div class="content">
              <a routerLink="/blog-single" class="title">Building Connections Generations: Bridging the Gap</a>
              <p class="para">Intergenerational connections have unique power to enrich lives, sharing knowledge and fostering mutual understanding. </p>
              <a routerLink="/blog-single" class="readmore">Read More <span><i class="fa-solid fa-arrow-right"></i></span></a>
             </div>
          </div>
  
          <div class="vl-single-blog-item4 mb-30" data-aos="zoom-in-up" data-aos-duration="1200" data-aos-delay="300">
            <!-- meta box -->
            <div class="meta-flex">
              <div class="single-meta-box">
                <div class="icon">
                  <span><img src="assets/img/icons/vl-calender-blck4.1.svg" alt=""></span>
                </div>
                <a href="javascript:void(0);" class="para">16 October 2025</a>
              </div>
  
              <div class="single-meta-box">
                <div class="icon">
                  <span><img src="assets/img/icons/vl-user-blck4.2.svg" alt=""></span>
                </div>
                <a href="javascript:void(0);" class="para">Dawid Malan</a>
              </div>
            </div>
            <!-- content -->
             <div class="content">
              <a routerLink="/blog-single" class="title">Lifetime Stories Celebrating Legacy of Senior Citizens</a>
              <p class="para">Every senior has a story, a personal legacy shaped by love, loss, growth, and. In this series, celebrate these rich histories. </p>
              <a routerLink="/blog-single" class="readmore">Read More <span><i class="fa-solid fa-arrow-right"></i></span></a>
             </div>
          </div>
        </div>
      </div>
    </div>
  </section>