@use '../utils/' as *;

/*
============================
Name:  Kelechi K. Ugoh - Charity HTML Template
Version: 1.0.0
Description: Kelechi K. Ugoh -Charity HTML Template
Author: Unifato
Author URI: https://themeforest.net/user/unifato/portfolio
Location:
============================
*/
