<section class="vl-blog5 sp2">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="vl-section-title5 text-center">
          <h5
            class="subtitle"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="300"
          >
            Our Blog & News
          </h5>
          <h2 class="title text-anime-style-3">
            Championing Equality: Our Latest Advocacy Efforts
          </h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-5">
        <!-- single bolg box -->
        <div
          class="single-blog-box active mb-30"
          data-aos="zoom-in-up"
          data-aos-duration="1200"
          data-aos-delay="300"
        >
          <div class="blog-thumb reveal" appGsapReveal>
            <img
              class="w-100"
              ngSrc="assets/img/blog/vl-blog-5.1.png"
              width="520"
              height="360"
              alt=""
            />
          </div>
          <div class="blog-content">
            <!-- meta -->
            <div class="meta-flex">
              <!-- single metabox -->
              <div class="meta-icon-box">
                <div class="icon">
                  <span
                    ><img
                      ngSrc="assets/img/icons/vl-calender-icon5.1.svg"
                      width="20"
                      height="20"
                      alt=""
                  /></span>
                </div>
                <div class="text">
                  <a href="javascript:void(0);" class="title"
                    >16 October 2025</a
                  >
                </div>
              </div>

              <!-- single metabox -->
              <div class="meta-icon-box">
                <div class="icon">
                  <span
                    ><img
                      ngSrc="assets/img/icons/vl-user-icon5.2.svg"
                      width="20"
                      height="20"
                      alt=""
                  /></span>
                </div>
                <div class="text">
                  <a href="javascript:void(0);" class="title">Dawid Malan</a>
                </div>
              </div>
            </div>
            <a routerLink="/blog" class="title"
              >Stories, Insights, & Advocacy in Action</a
            >
            <p class="para">
              Welcome our blog, where we share powerful <br />
              stories, updates & from the frontlines.
            </p>
            <a routerLink="/blog" class="readmore"
              >Read More <span><i class="fa-solid fa-arrow-right"></i></span
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <!-- single bolg box -->
        <div
          class="single-blog-box mb-30"
          data-aos="zoom-in-up"
          data-aos-duration="1200"
          data-aos-delay="300"
        >
          <div class="blog-thumb reveal" appGsapReveal>
            <img
              class="w-100"
              ngSrc="assets/img/blog/vl-blog-5.2.png"
              width="520"
              height="360"
              alt=""
            />
          </div>
          <div class="blog-content">
            <!-- meta -->
            <div class="meta-flex">
              <!-- single metabox -->
              <div class="meta-icon-box">
                <div class="icon">
                  <span
                    ><img
                      ngSrc="assets/img/icons/vl-calender-icon5.1.svg"
                      width="20"
                      height="20"
                      alt=""
                  /></span>
                </div>
                <div class="text">
                  <a href="javascript:void(0);" class="title"
                    >16 October 2025</a
                  >
                </div>
              </div>

              <!-- single metabox -->
              <div class="meta-icon-box">
                <div class="icon">
                  <span
                    ><img
                      ngSrc="assets/img/icons/vl-user-icon5.2.svg"
                      width="20"
                      height="20"
                      alt=""
                  /></span>
                </div>
                <div class="text">
                  <a href="javascript:void(0);" class="title">Dawid Malan</a>
                </div>
              </div>
            </div>
            <a routerLink="/blog" class="title"
              >Stories, Insights, & Advocacy in Action</a
            >
            <p class="para">
              Welcome our blog, where we share powerful stories, updates & from
              the frontlines.
            </p>
            <a routerLink="/blog" class="readmore"
              >Read More <span><i class="fa-solid fa-arrow-right"></i></span
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
