<section class="vl-testimonial-2 sp2">
    <div class="shape shape-1"><img src="assets/img/icons/vl-testimnial-2.1.svg" alt=""></div>
    <div class="shape shape-2"><img src="assets/img/icons/vl-test-2.2.svg" alt=""></div>
    <div class="shape shape-3"><img src="assets/img/icons/vl-test-2.2.svg" alt=""></div>
    <div class="shape shape-4"><img src="assets/img/icons/vl-test-2.2.svg" alt=""></div>
    <div class="shape shape-5"><img src="assets/img/icons/vl-test-2.2.svg" alt=""></div>
    <div class="shape shape-6"><img src="assets/img/icons/vl-testimonial-cat-2.1.svg" alt=""></div>
    <div class="container">
        <div class="large-shape"><img src="assets/img/icons/vl-testimonial-shape-arow-2.1.svg" alt=""></div>
        <div class="row">
            <div class="col-lg-6">
                <div class="vl-testimonial-content">
                    <!-- section title -->
                    <div class="vl-section-title-3">
                        <h4 class="subtitle" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">Testimonial
                        </h4>
                        <h2 class="title text-anime-style-3">New Beginnings: Stories <br> of Rescue and Rebirth</h2>
                        <p data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">Adopting our dog from this
                            rescue has truly changed our lives. <br> When we first met him, he was shy & a bit scared,
                            but love.</p>
                    </div>


                    <owl-carousel-o id="vl-testimonial-active2" [options]="testimonial" class="">
                        <!-- single testimonial -->
                        <ng-template carouselSlide>
                            <div class="vl-single-testimonial-box">
                                <div class="icon">
                                    <ul>
                                        <li><span><img src="assets/img/icons/vl-testimonial-2.1.svg" alt=""></span></li>
                                        <li><span><img src="assets/img/icons/vl-testimonial-2.1.svg" alt=""></span></li>
                                        <li><span><img src="assets/img/icons/vl-testimonial-2.1.svg" alt=""></span></li>
                                        <li><span><img src="assets/img/icons/vl-testimonial-2.1.svg" alt=""></span></li>
                                        <li><span><img src="assets/img/icons/vl-testimonial-2.1.svg" alt=""></span></li>
                                    </ul>
                                </div>
                                <div class="content">
                                    <p>“The compassion and dedication of this organization are incredible they gave our
                                        dog
                                        a second chance at life, & now he’s a cherished part of our family so grateful
                                        for
                                        the work they do every day.”</p>
                                </div>
                                <div class="auth-flex">
                                    <div class="thumb">
                                        <img src="assets/img/testimonial/vl-testimonial-2.1.png" alt="">
                                    </div>
                                    <div class="content">
                                        <h4 class="title"><a routerLink="/volunteers">Cecelia Tremblay</a></h4>
                                        <span>Volunteer</span>
                                    </div>
                                </div>
                                <div class="quote-ic">
                                    <span><img src="assets/img/icons/vl-gold-quote.svg" alt=""></span>
                                </div>
                            </div>

                        </ng-template>
                        <!-- single testimonial -->
                        <ng-template carouselSlide>
                            <div class="vl-single-testimonial-box">
                                <div class="icon">
                                    <ul>
                                        <li><span><img src="assets/img/icons/vl-testimonial-2.1.svg" alt=""></span></li>
                                        <li><span><img src="assets/img/icons/vl-testimonial-2.1.svg" alt=""></span></li>
                                        <li><span><img src="assets/img/icons/vl-testimonial-2.1.svg" alt=""></span></li>
                                        <li><span><img src="assets/img/icons/vl-testimonial-2.1.svg" alt=""></span></li>
                                        <li><span><img src="assets/img/icons/vl-testimonial-2.1.svg" alt=""></span></li>
                                    </ul>
                                </div>
                                <div class="content">
                                    <p>“The compassion and dedication of this organization are incredible they gave our
                                        dog
                                        a second chance at life, & now he’s a cherished part of our family so grateful
                                        for
                                        the work they do every day.”</p>
                                </div>
                                <div class="auth-flex">
                                    <div class="thumb">
                                        <img src="assets/img/testimonial/vl-testimonial-2.1.png" alt="">
                                    </div>
                                    <div class="content">
                                        <h4 class="title"><a routerLink="/volunteers">Cecelia Tremblay</a></h4>
                                        <span>Volunteer</span>
                                    </div>
                                </div>
                                <div class="quote-ic">
                                    <span><img src="assets/img/icons/vl-gold-quote.svg" alt=""></span>
                                </div>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="vl-test-thumb-2 mb-30">
                            <div class="testi-top-shape">
                                <img src="assets/img/shape/testimonial-shape2.png" alt="">
                            </div>
                            <div class="w-100 reveal" appGsapReveal>
                                <img src="assets/img/testimonial/vl-testimimonial-lar-2.1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="vl-test-sm-thumb mb-30 reveal" appGsapReveal>
                            <img class="w-100" src="assets/img/testimonial/vl-testimonial-sm-2.1.png" alt="">
                        </div>
                        <div class="vl-test-sm-thumb mb-30 reveal" appGsapReveal>
                            <img class="w-100" src="assets/img/testimonial/vl-testimonial-sm-2.2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>