<section class="vl-contact3 sp2">
    <div class="shap"><img src="assets/img/icons/vl-contact-layer-3.1.svg" alt=""></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="vl-section-title3 mb-60 text-center">
            <h4 class="subtitle" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">Contact From</h4>
            <h2 class="title text-anime-style-3">We’re Here to Help: Contact Our Water Aid Team</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <div class="vl-contact-icon-box mb-30" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="300">
            <!-- top content -->
            <div class="vl-top-content">
              <h4 class="title">Contact Info</h4>
              <p class="para">We’d love to hear from you! Whether you have questions about projects, want to get
                involved, <br> or simply want to learn more about the impact.</p>
            </div>

            <!-- icon box start -->
            <div class="vl-icon-box-flex">
              <div class="vl-icon">
                <span><img src="assets/img/icons/vl-contact-ic-3.1.svg" alt=""></span>
              </div>
              <div class="vl-text">
                <h4 class="title">Our Location</h4>
                <a href="javascript:void(0);" class="para">8708 Technology Forest Pl Suite <br> 125 -G, The Woodlands, TX 773</a>
              </div>
            </div> <!-- icon box end -->

            <!-- icon box start -->
            <div class="vl-icon-box-flex">
              <div class="vl-icon">
                <span><img src="assets/img/icons/vl-contact-ic-3.2.svg" alt=""></span>
              </div>
              <div class="vl-text">
                <h4 class="title">Phone Number</h4>
                <a href="tel:1234567890" class="para">123-456-7890</a> <br>
                <a href="tel:1234567890" class="para">123-456-7890</a>
              </div>
            </div> <!-- icon box end -->

            <!-- icon box start -->
            <div class="vl-icon-box-flex">
              <div class="vl-icon">
                <span><img src="assets/img/icons/vl-contact-ic-3.3.svg" alt=""></span>
              </div>
              <div class="vl-text">
                <h4 class="title">Email Address</h4>
                <a href="mailto:info@charity.com" class="para">info&#64;charity.com</a> <br>
                <a href="mailto:Infocharity@gmail.com" class="para">Infocharity&#64;gmail.com</a>
              </div>
            </div> <!-- icon box end -->
          </div>
        </div>
        <div class="col-lg-7">
          <div class="vl-contact-from3" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300">
            <h4 class="title">Get In Touch</h4>
            <p class="para">By reaching out, you’re taking first step toward making a difference <br> and joining a
              committed to bringing safe, sustainable.</p>
            <form action="#">
              <div class="vl-form3">
                <div class="row">
                  <div class="col-lg-6">
                    <input type="text" placeholder="First Name">
                  </div>
                  <div class="col-lg-6">
                    <input type="text" placeholder="Last Name">
                  </div>
                  <div class="col-lg-6">
                    <input type="email" placeholder="Email Address">
                  </div>
                  <div class="col-lg-6">
                    <input type="tel" placeholder="Phone Number">
                  </div>
                  <!-- select box -->
                  <div class="col-md-12 mb-20">
                    <select class="nice-select wide vl-select">
                      <option data-display="Donation To">Nothing</option>
                      <option value="1">Health and Medical Support</option>
                      <option value="2">Education and Training</option>
                      <option value="3">Relief and Aid Services</option>
                      <option value="4">Community Development</option>
                      <option value="5">Environmental Conservation</option>
                    </select>
                  </div>
                  <div class="col-lg-12">
                    <textarea name="message" id="mesage" placeholder="Your Message"></textarea>
                  </div>
                  <div class="col-lg-12">
                    <div class="vl-btn3">
                      <button class="primary-btn-3">Send Now</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>