@import "../node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.carousel.min.css";

@import "aos/dist/aos.css";
@import "slick-carousel/slick/slick.css";
@import "glightbox/dist/css/glightbox.min.css";
@import "bootstrap/dist/css/bootstrap.min.css";
@import "../public/assets/scss/main.scss";
