<section class="vl-about4 sp2">
    <div class="container">
      <div class="row flex-lg-row flex-column-reverse">
        <div class="col-lg-6">
          <div class="vl-about-thumb mb-30">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="thumb-1 mb-30 reveal" appGsapReveal>
                  <img class="w-100" src="assets/img/about/vl-about-4.1.png" alt="">
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="thumb-2">
                  <div class="shape d-none d-md-block"><img src="assets/img/shape/hand-shape4.1.png" alt=""></div>
                  <div class="thmb2 reveal w-100" appGsapReveal>
                  <img  class="thmb2 w-100" src="assets/img/about/vl-about-4.2.png" alt="">
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="vl-about-content mb-30 ml-50">
            <div class="vl-section-title4">
              <h5 class="subtitle" data-aos="fade-left" data-aos-duration="800" data-aos-delay="300">About Us</h5>
              <h2 class="title text-anime-style-3">A Legacy of Care Serving Senior Citizens</h2>
              <p class="para pb-32" data-aos="fade-left" data-aos-duration="800" data-aos-delay="300">Our organization is dedicated empowering senior citizens honoring <br>  their lifetime of experiences, and enhancing their quality of life.</p>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-6" data-aos="fade-left" data-aos-duration="900" data-aos-delay="300">
                 <!-- single icon box -->
              <div class="vl-about-icon-box mb-30">
                <div class="vl-about-icon">
                  <span><img src="assets/img/icons/vl-about-1.1.svg" alt=""></span>
                </div>
                <div class="vl-icon-content">
                  <h3 class="title"><a routerLink="/service">Helping people rebuild and prepare</a></h3>
                  <p>We help them rebuild stronger more resilient for the future. Together with supporters like.</p>
                </div>
              </div>
              </div>
              <div class="col-lg-12 col-md-6" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300">
                
              <!-- single icon box -->
              <div class="vl-about-icon-box mb-30">
                <div class="vl-about-icon">
                  <span><img src="assets/img/icons/vl-about-1.2.svg" alt=""></span>
                </div>
                <div class="vl-icon-content">
                  <h3 class="title"><a routerLink="/service">Putting people first in everything we do</a></h3>
                  <p>Guided by compassion driven the belief that every act  kindness makes a difference.</p>
                </div>
              </div>
              </div>
            </div>
            <div class="btn-area4" data-aos="fade-left" data-aos-duration="1100" data-aos-delay="300">
              <a routerLink="/about" class="header-btn1">Learn More <span><i class="fa-solid fa-arrow-right"></i></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>