:host { display: block; }

.navbar-wrapper {
  display: flex;
  align-items: center;
}

.site-logo img {
  max-height: 56px;
}

.main-menu {
  list-style: none;
}

.sticky {
  background-color: #59076e !important;
}