<header>
  <div
    [class]="'header-area header header-sticky d-none d-lg-block ' + headerArea"
    id="header"
  >
    <div [ngClass]="{ 'container-fluid': container, container: !container }">
      <div class="row">
        <div class="col-lg-12">
          <div [class]="'header-elements ' + headerElement">
            <div class="site-logo">
              <a routerLink="/"><img [src]="logoImage" alt="" /></a>
            </div>
            <div [class]="'main-menu ' + menuClass">
              <ul>
                <li
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                >
                  <a routerLink="/index">Home </a>
                </li>
                <li routerLinkActive="active">
                  <a routerLink="/about">About</a>
                </li>
                <li routerLinkActive="active">
                  <a routerLink="/event">Events </a>
                </li>
                <li routerLinkActive="active">
                  <a routerLink="/blog">Blogs</a>
                </li>
                <li routerLinkActive="active">
                  <a routerLink="/causes">Causes</a>
                </li>
                <li routerLinkActive="active">
                  <a routerLink="/contact">Contact</a>
                </li>
              </ul>
            </div>
            <div [class]="btnParent">
              <a [routerLink]="link" [ngClass]="btnClass">
                {{ label }}
                <span><i [ngClass]="icon"></i></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
