<section class="vl-cta3">
    <div class="container gx-0">
      <div class="cta-bg">
        <div class="shap"><img src="assets/img/icons/vl-cta-shap-arow.svg" alt=""></div>
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="vl-cta-content3 mb-30">
              <h3 class="title text-anime-style-3">Help Us Turn the Tide <br> on Water Scarcity</h3>
              <p class="para" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="300">Clean water changes
                everything. With your support, we <br> can bring safe, reliable water to communities where it’s.</p>
              <div class="cta-btn">
                <a routerLink="/contact" class="cta-btn1">Help Provide Water</a>
                <a routerLink="/contact" class="cta-btn2">Donate Now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="cta-thmb3 mb-30 reveal" appGsapReveal>
              <img src="assets/img/cta/vl-cta-thumb-3.1.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>