<section class="vl-singlevent-iner pb-50">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="more-title text-center mb-60">
          <h2 class="title">More Events</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- single event item -->
      @for (item of eventData | slice: 0 : 4; track $index) {
        <div class="col-lg-12 mb-50">
          <div
            class="event-bg-flex"
            [ngClass]="{ active: hoverIndex === $index }"
            (mouseenter)="hoverIndex = $index"
            (mouseleave)="hoverIndex = 0"
          >
            <div class="event-date">
              <h3 class="title">{{ item.date }}</h3>
              <p class="year">
                {{ item.month }} <br />
                {{ item.year }}
              </p>
            </div>
            <div class="event-content">
              <div class="event-meta">
                <p class="para">{{ item.eventTime }}</p>
              </div>
              <a [routerLink]="item.detailsUrl" class="title">{{
                item.eventTitle
              }}</a>
              <p class="para">
                {{ item.location }} <br />
                CA 93722, Fresno CA, CA, United States
              </p>
              <a [routerLink]="item.detailsUrl" class="details"
                >Event Details
                <span><i class="fa-solid fa-arrow-right"></i></span
              ></a>
            </div>
            <div class="event-thumb">
              <img
                class="w-100"
                [ngSrc]="item.image"
                width="600"
                height="400"
                [alt]="item.eventTitle"
              />
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
